[2020-08-31 06:19] SachinGanesh opened #1 "Using hash or UUID instead of database ID"
Thank you for this wonderful package. I want to use [Hashids](https://github.com/vinkla/laravel-hashids) instead of DB id's. How this can be integrated with your package?

[2020-08-31 13:03] alexzarbn commented on #1
Hi @SachinGanesh,

Glad you found it useful 🙂

I believe Hashids should be implemented on the model level. Take a look at how UUIDs are implemented in [laravel-eloquent-uuid](https://github.com/goldspecdigital/laravel-eloquent-uuid) package.
As long as it still uses default Laravel's `->save`, `->delete`, etc. methods on a model, it should work fine.

[2020-09-01 05:07] SachinGanesh commented on #1
Yes, But I do not want to expose the DB id to the public. How the URLs is handled in the current package?

for example, Hashid's URL will be `https://myapp.com/api/users/ASCE12A34` instead of `https://myapp.com/api/users/1`

Also, in the batch update, restore etc, the plain DB id should be changed to hashid's
[code]

Let me know if this can be achieved.

[2020-09-01 06:52] gech4me opened #2 "How to override the default api guard"
### Anyone who want to use web guard instead of API.
Add the following trait on your controller, It will override the default API guard.

[code]

[2020-09-02 11:46] alexzarbn commented on #2
Hi @gech4me,

To customize how user is resolved you can now override the `resolveUser` method on a controller.
[Documentation](https://laravel-orion.github.io/docs/guide/security.html#resolving-user) has been updated with the relevant information.

[2020-09-02 12:00] alexzarbn commented on #1
@SachinGanesh,

If you always would like to use hashed ids to work with models (even when you call something like `->find()` outside of the API, in a repository, for example), then implementing that on model level is the way to go - Laravel Orion understands what field is used for model keys and whether it is an int or a string - does not matter.

However, if you would like to use hashed ids only

[2020-09-02 14:51] #2 closed

[2020-09-09 07:30] SachinGanesh opened #5 "Modify model query builder"
I want to modify the model query in a controller before a request is executed. This is required if I want to filter the data and show only owned models by a user in the index method,

Currently, I'm overriding **newModelQuery** in the controller to achieve the above

[code]

is there any better way to do this?

Can the hook itself pass the query builder as shown below?
[code]

[2020-09-10 14:26] alexzarbn commented on #5
Hi @SachinGanesh,

I think the proposed improvement makes sense 🤔
Same would be possible for `beforeShow`, `beforeUpdate`, `beforeDestroy`, and `beforeRestore` hooks as well - query builder would be passed alongside the resource key.
Gonna make the necessary changes over the weekend.

However, If you would like to apply the role filter to all endpoints (not just the index one), current approach is

[2020-09-10 15:19] SachinGanesh commented on #5
Okay. Thank you!

[2020-09-13 13:58] alexzarbn commented on #5
@SachinGanesh,

Went for a bit different approach, but the end result is basically the same.

There are now "wrapper methods": `buildIndexQuery`, `buildShowQuery`,  `buildUpdateQuery`, `buildDestroyQuery`, and `buildRestoreQuery` that you can override in your model controller and customize the query used to fetch model(s) in the given method/endpoint.
Documentation and wrapper methods in relation

[2020-09-13 14:23] SachinGanesh commented on #5
@alexzarbn This approach looks good to me. Thank you!

[2020-09-13 14:23] #5 closed

[2020-09-24 13:20] gech4me opened #6 "Support for Laravel JSON Where Clauses"
How to filter JSON attributes?
I need support for JSON Where
Link: [https://laravel.com/docs/8.x/queries#json-where-clauses](https://laravel.com/docs/8.x/queries#json-where-clauses)

[2020-09-25 22:07] xnf4o opened #7 "How to disable same routes?"
As example i had to disable any BATCH routes for some reason. How can i make this?

[2020-09-27 05:58] alexzarbn commented on #1
Hi @SachinGanesh,

It is now possible to customize how Eloquent queries are build and executed for each endpoint.
Documentation is available for [model](https://laravel-orion.github.io/docs/guide/models.html#customizing-queries) and [relation](https://laravel-orion.github.io/docs/guide/relationships.html#customizing-queries) controllers.

[2020-09-27 06:00] alexzarbn commented on #6
Hi @gech4me,

It is currently not possible to filter json columns, but I will look into implementing this in the coming weeks.

[2020-09-27 06:23] alexzarbn commented on #7
Hi @xnf4o,

When you register a route, it returns an instance of Laravel's `PendingResourceRegistration` class.
You can use `->except` method to disable specific routes.

In your case:

[code]

However, I will look into providing an additional method (something like `->withoutBatchOperations()` that would disable all batch routes at once.

[2020-10-05 12:35] #1 closed

[2020-10-12 10:28] davigs opened #9 "How to validate the parameter passed in the path uri?"
Hello guys, I need to validate the parameter passed in the path.
The route is defined as follows:
`api/customers/{customer}/address`

In the validation rules the variable `$this->request->customer` is null.

![Captura de Tela 2020-10-12 às 07 25 54](https://user-images.githubusercontent.com/4110873/95736122-30c9fb00-0c5c-11eb-983c-8311fc921108.png)

And that is the request for the API.

![Captura

[2020-10-12 16:59] alexzarbn commented on #9
Hi @davigs,

Usually route parameters are not meant to be validated via Request classes - it should be accomplished by utilizing [route parameters regular expression constraints](https://laravel.com/docs/5.8/routing#parameters-regular-expression-constraints), [route model binding](https://laravel.com/docs/5.8/routing#parameters-regular-expression-constraints) or logic in a specific controller.

Ho

[2020-10-12 16:59] #9 closed

[2020-10-13 22:09] davigs opened #10 "problem routeKeyName"
Hello guys, I'm having trouble binding the parameters passed in the URL, even setting the getRouterKeyName to the name of the parameter, Orion is unable to resolve and presents the following error:

![Captura de Tela 2020-10-13 às 19 06 41](https://user-images.githubusercontent.com/4110873/95921235-48ea6900-0d87-11eb-93eb-ec110ee34475.png)

This is the URL:
http://localhost/api/customers/e34aa4ad

[2020-10-14 09:36] #10 closed

[2020-10-15 16:54] alexzarbn commented on #7
It is now possible to disable all batch routes at once using `->withoutBatch` method on a resource.
[Documentation](https://laravel-orion.github.io/docs/guide/batch-operations.html#disabling-batch-operations) has been updated with relevant information.

[2020-10-15 16:54] #7 closed

[2020-10-23 13:32] gech4me opened #11 "How to append a value to meta on afterIndex"
The following code does not work.

[code]

[2020-10-25 03:52] #11 closed

[2020-12-12 00:46] Eolykab opened #14 "Making post request"
I am having a problem making a post request. Am I missing something?
![Screenshot 2020-12-12 at 02 43 02](https://user-images.githubusercontent.com/16737946/101967673-2b6d3a80-3c24-11eb-947e-aa524be8dff6.png)

[2020-12-12 00:48] Eolykab commented on #14
This is my controller and model.
[code]

[code]

[2020-12-12 05:43] saiht commented on #14
Did you add ˋtitleˋ to ˋfillableˋ attribute in Post model?

[2020-12-12 11:19] Eolykab commented on #14
Thanks for the help. Worked like a charm.

[2020-12-12 11:19] #14 closed

[2020-12-12 18:01] Magnificent-Big-J opened #15 "show method returns status code 422"
I have follwed the documentation however when I visit  api.consultation-category.show, supplying the id. returns status  code 422 axios.get('api/consultation-category/' + cat_id)
                .then((response)=>{
                    console.log(response)
                })
controller
I placed my Api controllers inside  a folder called Api
<?php

namespace App\Http\Controllers\Api;

use App\Model

[2020-12-12 18:05] #15 closed

[2020-12-12 22:51] Thavarajan opened #16 "Api Documentation for routes"
A awesome tool pack for API, do you have any plan to implement API documentation like (swagger)

[2020-12-13 07:01] dehboris commented on #16
Hey, @Thavarajan
You can look this package [L5 Swagger](https://github.com/DarkaOnLine/L5-Swagger) that allow you to document an API

[2020-12-14 03:01] ldiebold opened #17 "Support nested relations"
Would love to be able to `include` nested relations.
Something like this:

[code]

would be able to save a few calls to the API!

Thanks a million for this package, I absolutely love it. So beautifully written :smiley:

[2020-12-14 15:20] alexzarbn commented on #17
Hi @ldiebold,

First of all, thank you for the kind words!

Honestly, I thought this is already supported 🤔
Let me check, and I will get back to you after running a few tests.

But either way, this is definitely something that will be introduced, if it is not supported.

[2020-12-14 15:24] alexzarbn commented on #16
Hi @Thavarajan,

Thank you ~

If this is something that developers would want to have, then yes, sure. But until there is no demand for that feature - no.

I will keep this issue open to see, if more developers need this.

[2020-12-15 07:27] ibrahim-mubarak opened #18 "Fallback to guarded when fillable is empty"
The `store` and `update` methods rely solely on `$model->getFillable()`
However this returns empty when the models use `$guarded` instead of `$fillable`
We should hence gracefully fallback to `$model->getGuarded()` in such situations

[2020-12-15 14:52] alexzarbn commented on #17
@ldiebold,

Found the cause - it is `RelationsResolver@guardRelations` that wipes out eager loaded _nested_ relations, because there is no "business.manager" relation on the model itself.

Will include the fix in v1.2 👌

[2020-12-15 16:10] PascalHesselink opened #20 "API response returns "This action is unauthorized." by default"
Hello, I'm new to Laravel Orion.

I'm trying to get the forum index or a specific forum model by id, but I'm struggling for hours now because he's not accepting or ignoring my policy.

I'm getting the error "This action is unauthorized."

When adding the ``Orion\Concerns\DisableAuthorization`` trait it works fine.

AuthServiceProvider.php
[code]

I have tried ``php artisan config:clear``, ``php ar

[2020-12-15 19:19] PascalHesselink commented on #20
After hours and hours of testing, recreating the project & debugging I did found the issue.

In my case, the authenticated user is NOT required, please make sure you used the optional mark in the policy. See https://laravel.com/docs/8.x/authorization#guest-users

Improved code:
PostPolicy.php
[code]

[2020-12-15 19:20] #20 closed

[2020-12-15 20:05] PascalHesselink commented on #17
Would be cool if you have also a 'defaultInclude' array option so you don't have to pass them every time through the parameters. (also available for nesting).

[2020-12-15 21:20] PascalHesselink commented on #17
I'm also facing this problem, would love to see this fix! Amazing work @alexzarbn.

[2020-12-16 00:32] ldiebold commented on #17
@alexzarbn thankyou!!!

Also want to point out how beautiful your code is. Simple comments, easy to navigate... A true joy 💓

[2020-12-16 12:44] alexzarbn commented on #17
@PascalHesselink

Thank you ~

Got it, will plan to implement the fix for this weekend.

[2020-12-16 12:46] alexzarbn commented on #17
@ldiebold

It took a lot of refactoring to get to its current state 😄
Thank you, will keep it this way ~

[2020-12-16 13:41] PascalHesselink commented on #17
I noticed it works when you list them up, in my case:
[code]

But it doesn't recognise the resources, so I wanted to exclude the email from the 'user' relationship, but that didn't work through the resources. I hope you can also look to that!

[2020-12-16 15:45] axtg opened #21 "Convention for JSON response"
First off: so happy with this package. Exactly what the doctor ordered.

The one thing I'm uncertain of (happy to hear your thoughts) is the default JSON response. I'm used to it container a status, message, and data object. And for errors showing status, message and errors object (through a custom exception). So far, though that might be because I drew it into an existing project, I'm getting non

[2020-12-16 16:08] PascalHesselink commented on #21
This package is lightweight due the working of default Laravel behaviour, personally I don't think that should be changed.

[2020-12-16 18:50] axtg commented on #21
I guess you're right. I am taking this too far.
And I can still keep my custom exceptions, catching the NotFoundHttpException, etc.

[2020-12-16 18:50] #21 closed

[2020-12-16 21:01] okaufmann commented on #16
I'm currently using orion with https://github.com/knuckleswtf/scribe which also generates an open API file which can be openend in any swagger ui instance. It also provides a postman collection.

[2020-12-16 22:51] densityx opened #22 "Using slug instead of model ID"
is it possible to make use of slug istead of id?

[code]

so far using slug gave me `SQLSTATE[22P02]: Invalid text representation: 7 ERROR:  invalid input syntax for type bigint:` error

[2020-12-17 11:56] winter-ice opened #23 "Problem with model dependency injection in performStore hook"
[code]

[2020-12-17 14:50] alexzarbn commented on #22
Yes, it is possible, for now the only way is to customize the Eloquent query used to fetch models.
Please take a look at the [documentation](https://tailflow.github.io/laravel-orion-docs/guide/models.html#customizing-queries).

I will look into providing the support for using the value from `getRouteKeyName()` 👌

[2020-12-17 14:53] alexzarbn commented on #17
@PascalHesselink,

Have you tried [explicitly setting](https://tailflow.github.io/laravel-orion-docs/guide/responses.html) the resource class?
If resources are located in non-conventional folder, indeed, it may not find them.

[2020-12-17 15:01] alexzarbn commented on #23
Due to the nature of PHP's type system, you can't really do it this way. Please use DocBlock like so:

[code]

[2020-12-17 15:01] #23 closed

[2020-12-17 16:19] PascalHesselink commented on #17
I'm using the default namespace/conventional way of creating resources. I've noticed if you want to manually 'register' them, they have to been put in a controller. In my case the 'user' relationship doesn't have a controller because it is a nested relationship.

[2020-12-20 21:01] AEK-BKF commented on #20
Hi,
I have the same issue, still shows me error :
`This action is unauthorized`

[2020-12-20 21:50] AEK-BKF opened #24 "API response always returns "403 This action is unauthorized""
Hello,
First of all, thank you so much for this amazing package,
I have same issue as this one : [https://github.com/tailflow/laravel-orion/issues/20](https://github.com/tailflow/laravel-orion/issues/20)

I cannot figure out the mistake ! I defined every thing, and it works fine if I put : `DisableAuthorization`.

Thanks

[2020-12-20 23:31] rodrigotbrun commented on #24
Did you set your Policies in AuthServiceProvider ?

I was trying this package for the first time, and its amazing, btw.. And I was getting 403, only because I did not set already in the AuthServiceProvider.

[2020-12-20 23:39] rodrigotbrun opened #25 "Call to undefined method HasManyThrough::save(), in Many-to-Many relation controller"
Hi,

I'm using this package for the first time, and its amazing, btw.

But I'm running into a problem (at the moment, I can't figure it out, if is something on my side, or something I'm missing).

I have a Company model, a CompanyAddress model, and an Address model.
That means, Company has many Addresses through my CompanyAddress model.

I've set a controller for CompanyAddressController, that use

[2020-12-20 23:45] AEK-BKF commented on #24
@rodrigotbrun thanks for reply,,
 Yes I set it as well,

[2020-12-21 03:29] rodrigotbrun commented on #24
And what about your Request class, `authorize` method is returning true?

[2020-12-21 04:47] rodrigotbrun commented on #25
Hi, I've managed to solve this problem, changing to a belongsToMany relation.

[2020-12-21 04:47] #25 closed

[2020-12-21 07:11] AEK-BKF commented on #24
Okey, here's the code :
Note That I'm using : Latest Laravel 8, Sanctum, NuxtJs.
Exam Page requires Auth middleware

- Api Route :
[code]
- Controller :
[code]

- Model :
`App\Models\Exam`
- Model Policy :
App\Policies\ExamPolicy
[code]
- AuthServiceProvider :
[code]

Thanks

[2020-12-21 12:26] boywijnmaalen opened #26 "Illuminate/Foundation dependency is missing"
Hi,

I'm using this package in combination with Laravel Lumen.
I managed to get it working using very few additions to my own project.

I'm running into an issue where dependency 'illuminate/foundation' is not part of the tailflow/laravel-orion composer.json definition.

If you want I can submit a pull request?

In addition I can create a second pull request on how to use this awesome package with

[2020-12-21 13:10] boywijnmaalen commented on #26
Ah it seems illuminate/foundation is not a package in itself..

[2020-12-21 13:42] boywijnmaalen commented on #26
Seems like this package isn't compatible with Lumen, do you agree or am I perhaps missing something?

[2020-12-21 15:41] alexzarbn commented on #26
Hi @boywijnmaalen,

Lumen is not officially supported and there is no plan for its support either (PRs are always welcome though).

The reason for that is because nowadays the hardware is powerful enough, so you could get little to no benefit of using Lumen over Laravel.

[2020-12-21 15:41] #26 closed

[2020-12-21 15:43] alexzarbn commented on #24
Hi @AEK-BKF,

You need to override the `resolveUser` method on a controller that is using Auth guard other than `api`.
Please take a look at the [docs](https://tailflow.github.io/laravel-orion-docs/guide/security.html#authorization).

[2020-12-21 15:50] alexzarbn commented on #17
In that case you need to do the following:
- Have a resource for `ForumCategory`
- In `ForumCategory` resource you need to define the `threads` relation like Laravel [documentation suggests](https://laravel.com/docs/8.x/eloquent-resources#relationships) (meaning you also need to have a resource for `Thread`)
- In `Thread` resource you need to define the `user` relation, again the same way.
- In `U

[2020-12-21 15:51] rodrigotbrun commented on #24
That's a good point.
I was reviewing my code, and your code. I'm using a custom guard as well, and I've implemented this ResolveUser method, along with correct policy model injection.

This should work!

[2020-12-21 16:21] AEK-BKF commented on #24
@alexzarbn Thank you so much!
I fixed it by setting :
[code]
But, should I put this in every controller ?

[2020-12-21 16:39] PascalHesselink commented on #17
That’s exactly what I currently have, but it still does not register/use the nested relationship’s resource in the API response.

[2020-12-21 16:56] rodrigotbrun commented on #24
I've created a controller that does this. And I extend in my api controllers. To avoid always overriding this.

I suggest adding some trait.

[2020-12-21 17:12] AEK-BKF commented on #24
Thank you so much :+1:

[2020-12-21 17:12] #24 closed

[2020-12-21 17:25] dillingham opened #27 "Automatic Laravel Nova Integration"
When looking at AWS amplify / Google firebase & how they have automatic API support with an admin panel..

Makes me imagine Nova & a fully featured API.. and how this package could maybe fill in that gap.

Like, this package could loop over Nova's resources, relationship fields & construct routes & controllers.

[code]

`php artisan nova:resource Post`, and you have a backend & API

Next all we ne

[2020-12-22 02:46] fmwww opened #28 "Create post on current authenticated user"
Firstly ,thank for provide such a helpful package!
How can I create post on current authenticated user? Or maybe I must use a relation controller like `UserPostsController`?

[2020-12-22 20:07] PascalHesselink commented on #17
Got it! I made a fault in my resource nesting, you're awesome!

[2020-12-22 21:47] PascalHesselink opened #29 "[Feature Request] Fully disable pagination"
In some cases you don't want to use pagination, please add a concern to avoid/disable using pagination.

Such as
[code]

[2020-12-23 01:47] #28 closed

[2020-12-23 03:08] ldiebold opened #31 "[Feature Request] setAppends"
This may be something more suited to userland, yet I thought it was worth asking!

Sometimes, we want to include attributes in our request. Laravel allows us to automatically append these attributes with `appends`

[code]

However, often we only want those attributes on occassion. So My feature request is this.
Allow the developer to have an `appends` array on the Controller, similar to how we cur

[2020-12-23 14:40] alexzarbn commented on #31
Hi @ldiebold,

This is a good one! I will put it on the roadmap 👌

[2020-12-23 14:41] alexzarbn commented on #29
Hi @PascalHesselink,

Definitely sounds like a valid use-case. Will plan to add this feature ~

[2020-12-23 14:48] axtg opened #32 "Action classes"
Hi!

I'm new to APIs, but this package seems pretty cool and structured in its setup.
I have a question though.

Currently, in my LabelController in the store() method, I call a StoreLabelAction. This dedicated single action class invokes the store and returns the Label model. I do this so that whenever I create a label, I have a single class that I can call. Like this:

[code]

My StoreLabelActio

[2020-12-23 14:52] alexzarbn commented on #27
Hi @dillingham,

Thank you ~

I think Laravel Nova already has some sort of automation for API in place (that's basically how it fetches all the data to display model and relationship tables, forms, etc.), but it is internal and not documented.

Eventually, having an adapter for Nova (or perhaps just another level of abstraction for models) that will build all routes/controllers automatically from

[2020-12-23 15:15] alexzarbn commented on #17
This is fixed in [1.1.3 release](https://github.com/tailflow/laravel-orion/releases/tag/1.1.3).

In 1.2 release I am planning to add the ability to specify wildcard nested relations. It will remove the need for listing _all_ nested relations, if _all_ of them should be available for inclusion:

[code]

[2020-12-23 15:55] axtg commented on #32
For now, I am taking this approach in my LabelController.

[code]

Where the StoreLabelAction is unchanged from first post.
Not sure if I'm breaking any conventions here. So still curious to hear how others might approach this use case.

[2020-12-23 16:21] axtg commented on #32
I've solved it like this for now.
Just not too happy with switch $request->validated() with $request->all().

[code]

The StoreLabelAction remains unchanged.

[2020-12-23 16:21] PascalHesselink opened #34 "[Feature Request] Add eloquent withCount() function"
In Laravel you can use the following code to gather the amount of relationship items without loading the full model/data:
[code]

We currently have:
[code]

Please add something like:
[code]

[2020-12-24 13:38] #18 closed

[2020-12-24 21:07] PaulUgwu opened #35 "Could not check compatibility between"
Am trying to override the buildIndexFetchQuery method on the controller and I got the following error message
'

Could not check compatibility between App\Http\Controllers\PostController::buildIndexFetchQuery(Illuminate\Http\Request $request, array $requestedRelations): App\Http\Controllers\Builder and Orion\Http\Controllers\Controller::buildIndexFetchQuery(Orion\Http\Requests\Request $request, ar

[2020-12-24 21:56] #35 closed

[2020-12-28 13:57] davigs commented on #29
I also have this need. It would be very interesting to list in selects and components that do not need to be paginated.

[2020-12-29 14:59] joshuahill1609 commented on #17
I was listing out my relations four levels deep like @PascalHesselink mentioned in their comment. The new 1.1.3 breaks this for some reason, I have not been able to dive into why but wanted to leave an update in case anyone else is having the same issue. I went back to 1.1.1 and my relations load again.
_This may be the intended functionality and I just need to change how I eager load relations._

[2020-12-30 14:10] alexzarbn commented on #17
Hi @joshuahill1609,

Thank you for brining that up. Could you please share the whitelisted includes array from your controller and the request url (with `?include=` query parameter)

[2020-12-30 14:17] alexzarbn commented on #32
Hi @axtg,

The current implementation of Laravel Orion does not have a concept of "actions". Trying to make it work with this concept will not result in a clean and working solution, unless it is supported on the package level.

If you would like to customize the behavior of queries, please check the [Customizing Queries](https://tailflow.github.io/laravel-orion-docs/guide/models.html#setting-up-r

[2020-12-30 14:17] #32 closed

[2020-12-30 14:18] #27 closed

[2021-01-01 19:35] BulgarianHealer opened #36 "[Feature Request] Endpoint caching"
It will be awesome if there is a default cache or customizable cache.

I was thinking do add it, but I'm not sure if using middleware is gonna be the best for this package or creating custom controllers, configs.

Also if there is a cache option it should be enabled as default, and disable as DisableCache trait.

[2021-01-01 20:18] PascalHesselink commented on #36
There's an awesome package that does this exactly for you;
https://github.com/GeneaLabs/laravel-model-caching

On topic: I don't think a cache should be enabled by default

[2021-01-01 21:50] BulgarianHealer commented on #36
I haven't seen this package I will try it.

On the topic:
Well let's say that there is an app which is live, but there is some little bug, so you turn on debug mode, and the cache will be disabled. If the app is set local env, not to the prod. it will be disabled.
The other thing is that when we/you/they add more packages it's getting hard and hard to upgrade everything to the latest version of la

[2021-01-03 10:41] davigs opened #37 "[Help] - ManyToMany inverse relationship"
Hello guys,

I have a problem with the `belongsToManyResources` routes, I need the bidirectional mapping to work together.
`Orion::belongsToManyResource('users', 'customers', \App\Http\Controllers\API\UserCustomerController::class);`
`Orion::belongsToManyResource('customers', 'users', \App\Http\Controllers\API\CustomerUserController::class);`

When the attach method of endpoint `/users/{user}/cust

[2021-01-03 13:36] #37 closed

[2021-01-04 20:10] joshuahill1609 commented on #17
I am using the alwaysIncludes() function in the controller to always load these nested resources.

/**
    * The relations that are loaded by default together with a resource.
    *
    * @return array
    */
    protected function alwaysIncludes() : array
    {
        return [
            'divisions',
            'divisions.cost_codes',
            'divisions.cost_codes.tasks',
            'divi

[2021-01-05 06:58] alexzarbn commented on #36
Hi @BulgarianHealer,

Yes, caching is something I was considering to add. As you also mentioned, there are quite a few ways to do that, and to be honest, I do not have a clear vision (yet) on how to implement this feature either.

What makes it difficult is cache revalidation, that should work hand in hand with other (possible) cache implementations of the apps that use both Laravel Orion and thir

[2021-01-05 07:46] ibrahim-mubarak opened #38 "Model resolution for Relationships fail when using explicit binding"
When using relationship controllers, the model resolution fails when using explicit binding as mentioned here
https://laravel.com/docs/8.x/routing#explicit-binding

The following implementation works around it and uses laravel's internal route resolution logic and should theoretically work with slugs as well. This is only an example and I'm aware we need to update this in a lot of places

[code]

[2021-01-05 10:14] alexzarbn commented on #17
@joshuahill1609,

Does the `Devision` model follow the same naming convention for defining relation methods (e.g. `cost_codes`) or it is defined as `costCodes`?

[2021-01-05 10:19] alexzarbn commented on #38
Hi @ibrahim-mubarak,

Laravel Orion is not using explicit route model binding and never will - logic for retrieving models is encapsulated in the dedicated methods on controllers and can be [customized](https://tailflow.github.io/laravel-orion-docs/guide/models.html#customizing-queries).

[2021-01-05 10:19] #38 closed

[2021-01-06 06:09] joshuahill1609 commented on #17
@alexzarbn Yes, the relation method is cost_codes().

This is working for me now and broke when I upgraded to the new version.

[2021-01-07 07:05] alexzarbn commented on #29
The ability to [disable pagination](https://tailflow.github.io/laravel-orion-docs/guide/models.html#disabling-pagination) is added in 1.2 release.

[2021-01-07 07:05] #29 closed

[2021-01-07 07:14] alexzarbn commented on #22
The ability to customize resource keys on both [model](https://tailflow.github.io/laravel-orion-docs/guide/models.html#customizing-keys) and [relation](https://tailflow.github.io/laravel-orion-docs/guide/relationships.html#customizing-keys) resources is added in 1.2 release.

[2021-01-07 07:14] #22 closed

[2021-01-07 07:15] alexzarbn commented on #17
@joshuahill1609,

Okay, I will dig more into this issue.

[2021-01-07 07:16] alexzarbn commented on #17
[Relations whitelisting](https://tailflow.github.io/laravel-orion-docs/guide/query-parameters.html#including-relations) using wildcards is added in [1.2](https://github.com/tailflow/laravel-orion/releases/tag/1.2) release.

[2021-01-07 07:17] alexzarbn commented on #6
A small update on this one - the support for json columns is planned for 1.3 release.

[2021-01-08 10:44] derrickkorku opened #40 "The given data was invalid"
I am getting the error, "The given data was invalid.", on get requests.

[2021-01-08 11:12] gech4me commented on #6
That's good. Keep up the good work!

[2021-01-09 10:59] alireza2281 commented on #17
Hello, i have  updated to version 1.2 but when i use user.* in always include i get this error:
`Call to undefined relationship [*] on model [Modules\\User\\Entities\\User].`
and when i put these relations ['user.profile', 'user.assignedCategory'] it just fetch the last relation

[2021-01-10 06:25] alexzarbn commented on #40
Hi @derrickkorku,

Please share the complete url for the endpoint you are trying to access.

[2021-01-10 06:42] alexzarbn commented on #17
Hi @alireza2281,

Whitelisting of relations using wildcards is only supported in the `includes` method.
Please upgrade to v1.2.1 - it contains the fix to make `['user.profile', 'user.assignedCategory']` whitelisting work.

[2021-01-10 06:43] alexzarbn commented on #17
@joshuahill1609,

Could you please upgrade to v1.2.1 and see, if it works? I was not able to replicate the issue though..

[2021-01-10 18:04] AEK-BKF opened #42 "Need Help: Use Spatie media package"
Hello,
Please,could provide us an example how to upload images using spatie media package ?
NB: I'm using Nuxt js.

Thanks

[2021-01-11 02:38] AEK-BKF commented on #42
It's ok, thanks.

[2021-01-11 02:38] #42 closed

[2021-01-11 15:10] alireza2281 commented on #17
@alexzarbn hi again,
there is one more thing that if i try to access relation from one level below the example i mentioned earlier would cause the same result problem.
i mean if i always include `related.relatedProduct.primaryImage` and then `related.relatedProduct.variation`
it would return just `variation`

[2021-01-13 12:10] xel-x opened #43 "[Feature Request] Support for nested relation routes"
### What and Why

Laravel supports [restful-nested-resources](https://laravel.com/docs/5.1/controllers#restful-nested-resources), which are configured by chaining them with dots.

Their behaviour is already partially supported with all those great relation-routes, but they only support one level of nesting/relation.

As I need another nesting level I tried using laravels dot notation, which did wo

[2021-01-13 15:49] xel-x commented on #43
I managed to get my Controller to do as I'd expect. It's not 100% tested, but it seems to do the trick in my simple cases.
I wrote it so it could possibly be used with virtually infinite nesting, so maybe it could be used as a starting point for an implementation or maybe at least help someone...

[code]

[2021-01-14 07:58] alexzarbn commented on #17
Hi @alireza2281,

Thank you, I will look into the issue.

[2021-01-14 08:06] alexzarbn commented on #43
Hi @xel-x,

Thank you for sharing this!

Currently there are no plans to support deeply nested routes, simply because most of the time using just 2 levels is enough.

For example, consider the following route:

`(GET) /api/users/1/posts/1/comments/3`

There are 3 levels, but essentially, we need to retrieve the comment, right? It can be simplified to the following:

`(GET) /api/posts/1/comments/3`

[2021-01-14 08:06] #43 closed

[2021-01-14 10:23] derrickkorku commented on #40
@alexzarbn I have been able to solve the problem. My request class was still extending the default Laravel FormRequest. I had to change it to extend your Orion Request class. Perhaps the documentation should make it clear that clear.

[2021-01-14 10:29] xel-x commented on #43
While I understand your decision, I wanted to clarify my intention:

It's not because of right management or something, its because of meaning and intuitive APIs.

Say we got companies, branches and announcements (associated to the branches).

Our API could be flat like
[code]

As long as the relations aren't many-to-many even relation management would be technically possible. Not nice, but possib

[2021-01-14 10:53] alexzarbn commented on #17
@alireza2281,

Recursive stuff is so confusing sometimes 😅

Please update to v1.2.2 - it should solve the problem.

[2021-01-14 10:53] #17 closed

[2021-01-14 10:55] #40 closed

[2021-01-28 02:22] ldiebold opened #45 "Does "Request" have to be an instance of "Orion\Http\Requests\Request"?"
When hitting an Orion index route, I'm getting the error:

[code]

Does this mean that we are unable to use laravels `Illuminate\Foundation\Http\FormRequest` class for requests?

If not, that's totally fine! Might just need to add that to the docs here:
[https://tailflow.github.io/laravel-orion-docs/guide/security.html#authentication](url)

[2021-01-28 02:24] ldiebold commented on #45
It might be a good idea to have an artisan command for requests:
`php artisan orion:request` or something like that!

[2021-01-28 09:27] alexzarbn commented on #45
Hi @ldiebold,

Yes, Request classes must extend `Orion\Http\Requests\Request`. It is, in fact, a normal `Illuminate\Foundation\Http\FormRequest`, just with a sprinkle of Orion methods for resolving validation rules of relation specific endpoints.

I have added a note about this to the [Validation](https://tailflow.github.io/laravel-orion-docs/guide/security.html#validation) and [Getting Started](h

[2021-01-28 09:27] #45 closed

[2021-01-28 09:28] ldiebold commented on #45
Perfect. Thanks @alexzarbn

[2021-01-28 12:47] twdnhfr opened #46 "SearchableBy with nested relations"
Hey,

is there a way to archive searching on related models (nested)?

I have a User, Location and a Address Model and Iam trying to make the users name and the postalcode searchable:

[code]

But this will result in an Error:
Call to undefined method App\Models\User::postalcode()

whats the correct way to search on nested models?

[2021-01-29 08:08] alexzarbn commented on #46
Hi @twdnhfr,

Currently it is only possible to use keyword-based search on relations one-level deep, e.g.:

[code]

I will look into providing the support for nested relations in keyword-based search 👌

[2021-02-01 03:43] ldiebold opened #47 "Soft Deletes seem to return the entire model for the key"
When using soft deletes, I'm getting the following error:
[code]
I have a clue as to why.

In `HandlesStandardOperations.php` the method `restore` seems to be returning the whole model for the **key** instead of just the id. Haven't managed to track down why that is yet, need to do a little more source diving!

To test my theory, I added the following to the top of the `restore` method and it work

[2021-02-01 06:07] alexzarbn commented on #47
Hi @ldiebold,

Hmm, that's an interesting one. Do you have any model bindings in place?

[2021-02-01 06:23] ldiebold commented on #47
Believe I do. Will be home soon and check, thanks for the fast reply!

[2021-02-01 07:53] ldiebold commented on #47
You were right @alexzarbn. I messed with the model binding and really shouldn't have.
In case somebody comes across this, I had the following in `RouteServiceProvider.php`

[code]

Removing this line fixed it for me!

[2021-02-01 07:53] #47 closed

[2021-02-02 03:02] ldiebold opened #49 "How to disable policy for a specific endpoint"
Is it currently possible to disable policy checks for a given endoint?

My use case is for indexing users. When I hit `api/users`
- an **admin** will get all users
- a **manager** will get users they manage
- a **plain user** will only get themself

However, I don't want to set my `viewAny` policy to `return true;` because that feels a bit risky.

...

I may be asking for too much... Honestly, thi

[2021-02-03 11:19] alexzarbn commented on #49
Hi @ldiebold,

Normally, I set `viewAny` to return `true`, and add constraints to the query (the `WHERE user_id IN ...` part) - policies cannot influence the queries anyway.

In fact, I rarely find myself relying on `viewAny`, unless there is a need to literally prohibit viewing a list of resources 🤔

It's incredible to hear that existing APIs are being converted to Orion 😃

[2021-02-03 19:18] ibrahim-mubarak opened #50 "Support for null filters"
How would we go about implementing null filters

[code]

This throws the following error
"The filters.2.value field is required when filters is present."

[2021-02-04 12:54] alexzarbn commented on #50
Hi @ibrahim-mubarak,

Thanks for the heads-up! Fixed in [v1.2.4](https://github.com/tailflow/laravel-orion/releases/tag/1.2.4).

[2021-02-04 12:54] #50 closed

[2021-02-04 13:20] AEK-BKF opened #52 "Need Help"
Hello,

Could you please provide us an example for how to do a custom search.
How to to pass parameters via axios for example. (I'm using Nuxt Js)

Thanks

[2021-02-05 05:22] alexzarbn commented on #52
Hi @AEK-BKF,

There is an [entire section](https://tailflow.github.io/laravel-orion-docs/guide/search.html#filtering) in the documentation covering the search functionality - please take a look there.

[2021-02-05 05:22] #52 closed

[2021-02-11 11:59] SachinGanesh opened #53 "hookResponds does not work if response type is JsonReponse or RedirectResponse"
Following response does not trigger **hookReponds**

[code]

It is suggested to check response type with  **\Symfony\Component\HttpFoundation\Response** instead of **Illuminate\Http\Response**;

[2021-02-11 12:03] SachinGanesh commented on #53
PR https://github.com/tailflow/laravel-orion/pull/54

[2021-02-11 15:22] alexzarbn commented on #53
Hi @SachinGanesh,

The PR is merged and published in [v1.2.5 release](https://github.com/tailflow/laravel-orion/releases/tag/1.2.5).

[2021-02-11 15:22] #53 closed

[2021-02-11 15:26] alexzarbn commented on #49
@ldiebold Please let me know, if that requires further discussion. Otherwise, the issue should be closed, I think.

[2021-02-16 14:11] axtg opened #56 "Question: how to best design authentication?"
I've got a question, I'm using the Orion happily locally with Insomnia to build my endpoints. Works perfect, very happy with this well-thought-through and structured approach.

But now I need to setup authentication. Login, register, reset password etc.
I normally use Fortify for this, but this leverages the X-XSRF-TOKEN approach (web), instead of Bearer (API). I tried setting up Sanctum now too,

[2021-02-16 23:13] onlime commented on #16
@okaufmann I don't quite get it how you manage to write API documentation for individual endpoints which are all provided by Orion. As I understood Scribe, it just parses annotations - but where to put them? Or do you manually edit the Scribe generated OpenAPI file prior to feeding it into Swagger? pls explain in more detail.

@alexzarbn I am definitely interested. That's a must for our project as

[2021-02-17 08:54] patryyyck commented on #16
Hello,

Laravel-Orion is awesome.
Just a little thing is missing.... the API documentation   ;-)
Great job!

[2021-02-18 14:15] #49 closed

[2021-02-18 14:17] jnorms commented on #6
are there any plans to release version 1.3?

[2021-02-18 14:32] rbayley opened #57 "ILIKE operator"
Hi,

Is it possible to include in the list of operators ILIKE.
The key word ILIKE can be used instead of LIKE to make the match **case-insensitive**. This is not in the SQL standard but is a PostgreSQL extension.

[2021-02-18 15:14] alexzarbn commented on #6
Hi @jnorms,

 Of course, currently all efforts are focused on getting Typescript SDK released. Once that is done, I will continue working on new releases of the package itself.

[2021-02-18 15:24] alexzarbn commented on #16
A highly anticipated feature it is, I sense

![01_194dfed7](https://user-images.githubusercontent.com/12220926/108377913-524c7c00-7226-11eb-93d4-6d2d66b3efa8.jpeg)

[2021-02-18 15:31] alexzarbn commented on #57
Hi @rbayley,

Yes, planned it for the next feature release.

[2021-02-18 15:40] alexzarbn commented on #56
Hi @axtg,

It basically depends on where you would perform the authentication from. Is it a first-party SPA? A mobile app? Another backend service?

In most cases, I highly suggest using Sanctum (Cookie for first-party SPA, Bearer token for mobile apps), because it provides literally everything you need.

However, if you plan to make your app an OAuth identity provider, then Passport should be the

[2021-02-18 15:40] #56 closed

[2021-02-18 17:19] jnorms commented on #6
@alexzarbn do you need collaborators on the project? If so, I may be helping!

[2021-02-18 18:27] Thavarajan commented on #16
If it's done trust me, this is going to be a favourite of most of the API developers

[2021-02-19 07:31] axtg commented on #56
@alexzarbn Appreciate that line of thought. So here is what I tried doing in Insomnia after installing Sanctum:

1. Call /sanctum/csrf-cookie/ to get the cookie
2. Call /login with the x-xsrf-token in the header and user details as post vars
3. Call /api/user (OrionResource) with the x-xsrf-token in the header

Step 3 gives me an unauthenticated message. If I try the Bearer token for the user, it

[2021-02-19 14:41] rbayley opened #58 "ErrorHandler"
Hi,
I have been using your package for the last 24hs and I love it already. It completely changes the way of building APIs.

I am having trouble when trying to GET, PUT|PATCH or DELETE  an either soft|forced deleted record.
I get a 404 response with **NotFoundHttpException** error page.
How can I prevent this and send a specific json response with whatever error message in it?

Thank you very much

[2021-02-19 15:13] alexzarbn commented on #58
Hi @rbayley,

Have you tried applying [query parameters](https://tailflow.github.io/laravel-orion-docs/guide/query-parameters.html#soft-deletes) specific to the Soft Deletable resources?

[2021-02-19 15:16] alexzarbn commented on #6
@jnorms I am definetely open for any PRs ✌️

[2021-02-19 15:23] rbayley commented on #58
Hi Alex,

Yes, I did, that's why I am able to soft delete and force delete the record.

The problem is when trying to GET or UPDATE the record **after** it has been soft or forced deleted. Record no longer exists and therefore Laravel replies with an error.

In other words,  Laravel throws an Exception when fetching an inexistent record.

[2021-02-19 15:26] alexzarbn commented on #56
@axtg Please read [Sanctum's Configuration](https://laravel.com/docs/8.x/sanctum#spa-configuration) and [Orion's Authorization](https://tailflow.github.io/laravel-orion-docs/guide/security.html#authorization) documentation.

Yes, you can use the same endpoint, the only difference would be the way you authenticate: from within your app - it is a first-party authorization using cookie, from any exte

[2021-02-20 16:22] alexzarbn commented on #58
@rbayley

If you are looking to customize how errors are returned in the response, I believe checking the `render` method in `App\Exceptions\Handler` and `Illuminate\Foundation\Exceptions\Handler` might be a good idea 🤔

[2021-02-20 16:55] rbayley commented on #58
@alexzarbn ouch !

I thought you might be throwing specific errors. Next time I will dig more into your code. But yeah, its the logical way.
After posting my question, I thought you would come up with something like that! 😢

Once again, great, great package!

[2021-02-21 10:51] alexzarbn commented on #58
@rbayley

404 is already a specific error, throwing something else would be a violation of many standards, I think.

[2021-02-21 10:51] #58 closed

[2021-02-23 07:24] gech4me opened #59 "How to filter null value"
How to filters null value, alternative for the following query.

[code]

[2021-02-23 10:40] axtg commented on #56
Wow. Okay, so this took me a while.
Stateless was working okay, with the Sanctum bearer token. But stateful (for SPA) did not work. And finally, I figured it out. The ensurefrontendarestateful middleware checks for the referer of the request. So without that added to the Header it doesn't work. Hope that might help someone else.

All good now.

[2021-02-23 15:01] gech4me commented on #59
Yeah, but I want toggle active from the front-end.
[code]
but there is a validation error.
Thanks

[2021-02-23 15:09] SachinGanesh commented on #59
This issue is fixed in v1.2.4 https://github.com/tailflow/laravel-orion/releases/tag/1.2.4

Duplicate of https://github.com/tailflow/laravel-orion/issues/50

[2021-02-24 12:55] #59 closed

[2021-02-28 14:41] PaulUgwu opened #60 "Argument 3 passed to Orion\\Http\\Controllers\\Controller::performUpdate() must be of the type array, null given"
Hello, am trying to use the laravel orion batch update functionality. it works fine on default but when i use change the **keyName** to slug it gives error "Argument 3 passed to Orion\\Http\\Controllers\\Controller::performUpdate() must be of the type array, null given" what am i doing wrong?

am using postman for testing, bellow is my postman setup

Body -> row -> json

{
    "resources": {

[2021-02-28 16:45] PaulUgwu commented on #60
My issues is that batch update only worker when keyName() returns "Id"

[2021-03-01 06:16] SachinGanesh opened #61 "Unexpected behaviour in Search Query"
I have a search query with filter and sort applied as shown below. This endpoint was working fine before and I started getting an empty response even though there are valid records in the DB. Even the total count in the response was correct.
This issue was appearing only when using the sort filter. I updated one of the record and I started getting the results again. I'm not able to reproduce this

[2021-03-01 14:28] alexzarbn commented on #61
Hi @SachinGanesh,

This is an interesting one. Could you please provide more details on what updated you have made to the record(s)?

[2021-03-01 14:30] alexzarbn commented on #60
Hi @PaulUgwu,

Looks like a bug in batch operations. Let me run some checks, and I will get back to you.

[2021-03-01 16:42] SachinGanesh commented on #61
If I remember correctly, the sorting key "pages" had the same value in all records. I changed the "pages" value in one of the records and I got the expected results.

[2021-03-02 00:23] ldiebold opened #62 "route model binding has a 32 character limit"
This is not an issue with orion. However, orion might be able to implement a solution to this error.

When using route model binding (as orion does behind the scenes), the name of the model cannot be more than 32 characters long.

The following will not work when creating a laravel route:
[code]

I remember looking into this issue in the past, and it looks like Laravel doesn't intend on fixing thi

[2021-03-02 14:30] alexzarbn commented on #62
Hi @ldiebold,

Laravel Orion does not use route model binding - instead, it relies directly on QueryBuilder, giving the ability to [customize](https://tailflow.github.io/laravel-orion-docs/guide/models.html#customizing-queries) the underlying queries in the controller.

In general, I think this limitation makes sense - an app shouldn't have models with such long names 🤔

[2021-03-02 17:39] SachinGanesh commented on #61
Okay. I got to know why I'm not getting any results. SQL query fails because of the following error

This is because I have large JSON data attached to each record. I have fixed it by writing a custom query instead of using a query filter.
This issue is no related to Orion. But instead of empty results, shouldn't we get an error if the query fails?

[2021-03-02 21:17] ldiebold commented on #62
Oh you're right, the issue seems to have disappeared, must have been a false positive.

My bad!

[2021-03-03 04:30] SachinGanesh commented on #61
Looks like Laravel is not throwing any exception when the query fails
[code]

[2021-03-03 04:30] #61 closed

[2021-03-03 10:31] #62 closed

[2021-03-03 10:32] alexzarbn commented on #60
@PaulUgwu,

You also need to change the key type on the model like so
[code]

[2021-03-03 10:32] #60 closed

[2021-03-08 08:47] SachinGanesh opened #63 "[Feature Request] Add support for custom Pivot Model"
I want to listen to [pivot model](https://laravel.com/docs/master/eloquent-relationships#defining-custom-intermediate-table-models) events in an **[Observer](https://laravel.com/docs/8.x/eloquent#observers)**. Currently, the Pivot model observer is not triggered when updating pivot fields using many-to-many relationships.

[2021-03-08 09:33] SachinGanesh commented on #63
Also, if the pivot model is present, **$pivotFillable** can take values from $**fillable** attribute of the pivot model

[2021-03-08 10:04] SachinGanesh commented on #63
Okay. This is already handled in Laravel. It works after adding **->using** to the belongsToMany relation. Closing the issue

[code]

[2021-03-08 10:04] #63 closed

[2021-03-08 12:56] szmass opened #64 "Search in relationship with multiple databases."
Hi!

As far as I understand, there's no way to search in relations in different databases. When the QueryBuilder class applies the search to the query builder it uses the whereHas query builder function, but there's no way to specify another connection for the relation if needed.
I stand corrected if I'm wrong :)

[2021-03-10 14:19] alexzarbn commented on #64
Hi @szmass,

Yes, the query builder is basically equal to calling `Model::query()` (with whatever connection it is using).

What is the use case for querying relations from another connection?

[2021-03-12 07:21] suman-bonakurthi opened #65 "Eager Loading is not working"
I have two models posts and comments with relationship oneToMany. A post hasManyComments and a Comment Belongs to a Post.
I have defined in the Post Model, protected $with = 'comments'., but when I execute, the Eager loading is not working. Do we have a fix around?

[2021-03-12 10:21] szmass commented on #64
Hi @alexzarbn,

I'm developing an application with multitenant database and the some landlord database entities has relation to the tenant databases entities.
For now, I defined scopes for these cases, because there I can define the connection of the relation in the model function.

[2021-03-12 12:10] suman-bonakurthi commented on #65
Its already been there. We just need to use in the controller.

protected function includes(): array
    {
        return ['region', 'currency', 'language'];
    }

[2021-03-12 12:10] #65 closed

[2021-03-12 19:41] Staedion opened #66 "Request rules method is triggered on index method"
The request rules method is triggered on the controllers' index method, which will result in validation rules evaluated on http get requests, resulting in an invalid data message. This is undesirable behavior.

[2021-03-13 16:20] syahnur197 commented on #66
I think you should type hint your request classes at beforeSave, beforeStore, beforeUpdate methods.

Can see [more here](https://tailflow.github.io/laravel-orion-docs/guide/hooks.html#hooks)

[2021-03-14 19:16] Staedion commented on #66
@syahnur197 what will be the result of that? The request's rule method will be evaluated before that resulting in evaluating vildation rules on index method.

[2021-03-15 10:13] syahnur197 commented on #66
by typehinting in the methods I mentioned above, you the form request class will only be executed when you are invoking save, update, stored method

[2021-03-15 11:16] Staedion commented on #66
@syahnur197  Did you test this? Can you provice me with some example code? Type hinting gives me an error, when following documentation nothing changes. Rules are still fired in index.

[2021-03-15 12:59] goldjunge4 opened #67 "use if statement in search query"
Hello,

Would it be possible (maybe allready) to perform an if in the search function?

[code]

[2021-03-15 14:54] alexzarbn commented on #64
Oh, that makes sense! Currently, there is no support for multi tenancy, though you could (as mentioned, define scopes, etc.) find some workarounds for this.

[2021-03-15 14:54] #64 closed

[2021-03-15 14:56] alexzarbn commented on #67
Hi @goldjunge4,

No, it is currently not possible to create conditional search queries. I would suggest (at least for now) to do that via scopes just like in the provided example.

[2021-03-15 14:56] #67 closed

[2021-03-15 18:39] goldjunge4 commented on #67
Hello Alex, thanks for the information but my example above is not working, could you help me to adjust it correctly? Thanks

[2021-03-20 18:15] floyd0987 opened #68 "Creating rest-api with Orion and Voyager"
Hi, i created a table "Clients" using Voyager (https://voyager.devdojo.com/) .
I've been trying to create a rest api route using orion such as domain.com/api/clients but it just doesn't seem to work.

[2021-03-22 14:09] alexzarbn commented on #66
Hi @Staedion,

Please check the [docs](https://tailflow.github.io/laravel-orion-docs/guide/security.html#validation) - validation topic is covered there.

[2021-03-22 14:09] #66 closed

[2021-03-22 14:09] alexzarbn commented on #68
Hi @floyd0987,

Please provide more details on exactly what "just doesn't seem to work".

[2021-03-23 20:54] 1c3f0x84 opened #69 "Batch destroy for trashed"
Hello,

i have a problem, i can't batch destroy trashed entities.

The call: .../batch?force=true&only_trashed=true
With body: {resources: [9]}

It seem to me that "only_trashed=true" is ignored.

Can someone help me with this?

Sincerly

[2021-03-26 15:16] alexzarbn commented on #69
Hi @1c3f0x84,

Let me try to replicate this behaviour locally, and I will get back to you as soon as I have a clear picture of the issue.

[2021-03-29 13:54] #68 closed

[2021-03-29 14:40] alexzarbn commented on #69
Hi @1c3f0x84,

Thank you for reporting this. I was able to replicate the issue locally and fixed it in [v1.2.6](https://github.com/tailflow/laravel-orion/releases/tag/1.2.6) release.

[2021-03-29 14:40] #69 closed

[2021-03-31 12:32] rbayley commented on #57
Hi Folks,

Thanks for accepting this proposal.
Postgresql uses [specialized operators](https://www.postgresql.org/docs/13/ltree.html#id-1.11.7.30.6) for Ltree fields.
Is it possible to just leave this value without validation in order to use any DB specific feature?

warm regards!

[2021-04-01 16:01] baihaqyaviq opened #71 "validation unique ignore in batchUpdate"
how to validation unique rule with ignore in batchUpdate rules?

[2021-04-04 15:09] alexzarbn commented on #57
Hi @rbayley,

I would suggest to implement a version of `ParamsValidator` class that is specific to your app needs, then simply bind it to the container:

[code]

[2021-04-07 05:31] antandev opened #72 "Retrieve grandchildren on morphTo"
hello, i have morphTo relationship and one of them relationship with another model like example below.

[code]

to retrieve model B and C when model A is called i can use `alwaysIncludes` on controller, but i cannot retrieve model D because model B does not associate with model D

the only way to retrieve model D is using [nested-lazy-eager-loading-morphto](https://laravel.com/docs/8.x/eloquent-re

[2021-04-08 13:53] alexzarbn commented on #72
Hi @antandev,

Could you please share the implementation of `includes` and `alwaysIncludes` methods from the controller?

[2021-04-08 13:56] alexzarbn commented on #71
Hi @baihaqyaviq,

It depends what you are trying to accomplish. Please share your current implementation of the request class.

[2021-04-09 03:02] oscar-parra opened #73 "Pass parent model to hook methods in relationship controllers"
in relationship controllers, the hooks should allow access to parent model

thanks for laravel orion, great job

[2021-04-09 05:55] antandev commented on #72
my controller was something like this

[code]

[2021-04-09 15:42] rbayley commented on #57
Hi @alexzarbn,

Thanks for your suggestion. Will try it this way.
Although why is it important to **validate Filters**?
Why don't just leave without validation?

[2021-04-11 03:22] alexzarbn commented on #73
Hi @oscar-parra,

Indeed, it would be quite useful to have direct access to parent model from inside the hook methods. Scheduled for v2.0 ✨

[2021-04-11 03:24] alexzarbn commented on #57
@rbayley,

For better user-feedback when consuming an API. If an end-user passes something invalid as a filter and the app runs in production, they would get a generic 500 error response. Having validation ensures a proper feedback from the API in such cases.

[2021-04-11 03:31] alexzarbn commented on #72
@antandev,

- Check if `C` model class has a relationship method named `D` (case sensitive)
- Check if relationship `D` is actually loaded (dump the results inside `runFetchQuery` using `$query->get())`)
- In `alwaysIncludes` add `contentable.D`

[2021-04-11 04:44] suman-bonakurthi opened #75 "File Uploads"
Currently, I am using Laravel Orion for my resources, but I am not able to upload images. Is there any work around or guide me, how to use . Many thanks.

[2021-04-11 05:24] alexzarbn commented on #75
Hi @suman-bonakurthi,

You can use something like [spatie/laravel-medialibrary](https://github.com/spatie/laravel-medialibrary).

[2021-04-11 05:24] #75 closed

[2021-04-11 06:03] antandev commented on #72
@alexzarbn

already did 3 points the above and everything is fine but this message always show up

`Call to undefined relationship [D] on model [App\\Models\\B].`

[2021-04-11 14:56] suman-bonakurthi commented on #75
Hi @alexzarbn, thanks for your reply. Currently I am using Spatie Media Library. My question is, whether Laravel Orion has inbuilt support for File Upload to store, upload?

For Example, I have a Table
            $table->id();
            $table->string('title')->unique()->comment('Accrual Title');
            $table->string('label')->comment('Label of Accrual');
            $table->string('descr

[2021-04-11 15:11] suman-bonakurthi opened #76 "Image Uploads"
Hi @alexzarbn, thanks for your reply. Currently I am using Spatie Media Library. My question is, whether Laravel Orion has inbuilt support for File Upload to store, upload?

For Example, I have a Table
[code]

This is the Request Class

[code]
Can I simply use the Orion Controller for CRUD?
Unfortunately, when I test, it doesn't support, So, I am asking a work around or best pracitce.

Any Help wi

[2021-04-12 05:22] antandev commented on #72
hi @alexzarbn, i already found the solution, my solution was:
1. remove `contentable` and its child from `alwaysIncludes`
2. changing `loadMorph` to `morphWith`, this way the code will return query instead collection
3. implement it on `buildFetchQuery` instead on `runFetchQuery` or `runIndexFetchQuery`

[code]

thank you for your help this couple days, it was really awesome to have someone like y

[2021-04-12 06:05] antandev commented on #72
hi @alexzarbn, i already found the solution, my solution was:
1. create 1 variable to store default eager loading which to be used when there is a situation like this one
2. add `contentable` child to `alwaysIncludes`
3. changing `loadMorph` to `morphWith`, this way the code will return query instead collection
4. implement it on `buildFetchQuery` instead on `runFetchQuery` or `runIndexFetchQuery`

[2021-04-12 06:38] SachinGanesh commented on #76
You can do something like this with [Hooks](https://tailflow.github.io/laravel-orion-docs/guide/hooks.html#on-model-controllers) in your controller
[code]

[2021-04-12 08:42] 1c3f0x84 opened #77 "Config option to select only to use validated inputs"
Hi,

i would like to have an option to only save "$request->validated()" values and not everything.

Is that possible?

Ps: Keep up the good work!

[2021-04-13 00:53] Patrikgrinsvall commented on #16
The solution to this is:
[code]
check through config in `config/scribe.php`
read docs at: (https://scribe.readthedocs.io/en/latest/guide-getting-started.html)

[2021-04-13 04:48] #72 closed

[2021-04-14 13:10] hako-studio opened #78 "Laravel 8 not including additional resources"
I'm using the following code to generate an API route:

[code]

However, when I run `php artisan route:list` I only get.

[code]
---

Having done some further debugging, if I do `dd($defaults)` after `vendor/laravel/framework/src/Illuminate/Routing/ResourceRegistrar.php:93` (`$defaults = $this->resourceDefaults`), I only get:

[code]

However, if I create a `__construct()` in `vendor/tailflow/lara

[2021-04-14 13:16] #71 closed

[2021-04-14 13:19] alexzarbn commented on #76
@suman-bonakurthi,

Laravel Orion is built on top of standard Laravel functionality (Requests, Policies, etc.) - it supports everything that Laravel itself supports 🙂

How you orchestrate file uploading logic in controllers is up to you and your app business requirements.

@SachinGanesh has provided a good example of how it can be accomplished using hook method.

[2021-04-14 13:19] #76 closed

[2021-04-14 13:23] alexzarbn commented on #77
Hi @1c3f0x84,

Currently all request data is passed to model constructor, so it just relies on the `$fillable` and/or `$guarded` properties of the model. What is the use case when you would want only validated properties to be processed and marking other properties as non-fillable would not provide the desired outcome?

[2021-04-14 13:27] alexzarbn commented on #78
Hi @hako-studio,

Could you please define what you mean by "additional resources"?

And what is the output you see as a correct one from here:

[2021-04-14 13:59] hako-studio commented on #78
Hi @alexzarbn,

Yes, of course. My mistake. By additional resources I mean the `batch` routes and soft deletes.

[2021-04-14 14:52] hako-studio commented on #78
@alexzarbn — I've discovered that it's the URL of my route that's causing the problem.

`Orion::resource('collection/items', ...)` doesn't work, but `Orion::resource('collection_items', ...)` does.

[2021-04-15 15:17] alexzarbn commented on #78
@hako-studio

I would suggest to wrap the resource call in `Route::group` in such scenarios 🤔

If there is a prefix in the path, most of the time it means a nested resource is part of some kind of logical group: `/collection/items`, `/collection/something`.

In other cases, it might be worth renaming the resource and avoiding deep nesting (like you mentioned `Orion::resource('collection-items', ..

[2021-04-22 03:33] josecl commented on #77
Hi, I have same need.

Some scenarios:
- I define different rules for store and update: I want to enforce some attributes only when creating, but prevent modification on update.
- Sometimes I rely in Gates to define validation rules depending if the current user is admin or not. For regular users I don´t give them access to some attributes.

[2021-04-23 02:11] jonagoldman commented on #77
Same here, I set `$guarded = []` and rely only on `$request->validated()`.
Laravel core member [Mohamed Said](https://twitter.com/themsaid) explains why in this [Don't use mass assignment protection](https://www.youtube.com/watch?v=XNy0hldKHjM) video.

[2021-04-23 05:22] jonagoldman opened #80 "Is the resourceAbilityMap method override needed?"
Not really a bug, but is there a reason to override the `resourceAbilityMap` method from the `AuthorizesRequests` trait?
https://github.com/tailflow/laravel-orion/blob/c03e9d618215b63bb0ea70d05242fb6a696b2399/src/Http/Controllers/BaseController.php#L189-L200

[2021-04-26 04:33] alexzarbn commented on #80
Hi @jonagoldman,

As far as I remember, it was done because previous versions of Laravel were missing the mapping of `index` method to `viewAny`.  In the future version, when support for Laravel 5.7 will be dropped, this override won't be required anymore.

[2021-04-26 04:33] #80 closed

[2021-04-26 04:33] #78 closed

[2021-04-26 04:39] alexzarbn commented on #77
Hi @josecl, @jonagoldman

Seems like a valid use-case, in the next releases I will look into providing different strategies for filling out the attributes 👌

[2021-05-04 13:50] Maximryzhkov opened #81 "replace record without error exception"
I need the ability to create or modify a record with a single request. For example, I post a message containing a column with a unique value param in database migration. if an old record exists, it must replace the old record, if no, it must create a new record. How I can realize this behavior?

[2021-05-05 11:39] alexzarbn commented on #81
Hi @Maximryzhkov,

You can override the `performStore` method, please take a look at the [docs](https://tailflow.github.io/laravel-orion-docs/guide/models.html#customizing-queries).

[2021-05-05 11:39] #81 closed

[2021-05-06 07:51] jonagoldman commented on #77
A workaround is to use the `beforeSave` [hook](https://tailflow.github.io/laravel-orion-docs/guide/hooks.html) to replace the request values with only the values that have rules.

[code]

This will remove from the request any value that doesn't have a rule.

[2021-05-06 19:58] musixite opened #82 "relationship with 2 different tables"
I'm banging my head (just a bit) here.

I have a collections table that I'd like to use on 2 different (static) pages (with related page1_collections table)

I'm wondering how I can attach a new collection on either page so that it gets inserted in both tables.

In other words, if I insert a new collection on page 2, I should have:
- on collection table, insert (newCollectionId, newName)
- on page

[2021-05-06 20:18] #82 closed

[2021-05-06 22:07] musixite opened #83 "is it possible to always include a nested has_many from many to many?"
- section belongsToMany collections
- collection belongsToMany sections
- collections hasMany bookmarks

I created a SectionCollections database
[code]

This works well but I'd like to retrieve the bookmarks relationship from the collections.

I tried by adding
[code]

... but this doesn't work!

Any ideas?

[2021-05-11 22:24] jonagoldman opened #84 "Auth guard config"
I see a new `orion.php` config was added to the `next` branch, it will be useful to add a `guard` key so it can be configured instead of overriding the `resolveUser` method.

[2021-05-12 03:20] alexzarbn commented on #83
Hi @musixite,

If you call `Section::query()->with('collections.bookmarks')->get()`, do the bookmarks show up?

[2021-05-12 06:17] Maximryzhkov commented on #81
I overrode the performStore method

  protected function performStore(Request $request, Model $post, array $attributes): void
    {

        if (Sale::where('transaction_id', $attributes['transaction_id'])->first()) {

            $post = Sale::where('transaction_id', $attributes['transaction_id'])->first();
            $post->bonus = $attributes['bonus'];

        }

        else {

            $

[2021-05-13 07:08] MeerKatDev opened #85 ""This action is unauthorized." - 403 with Sanctum"
I saw other issues with this, but none helped. Here the code:

- api.php
[code]

 - QuotationPolicy
[code]

- QuotationController
[code]

- AuthServiceProvider
[code]

- QuotationRequest
[code]

[2021-05-13 07:20] MeerKatDev commented on #85
If I use `Orion\Http\Requests\Request` it will give unauthorized, if I try to override `store` and simply create an object, it won't be able to get the content with `$request->all()`, although if I do `dd($request)` it shows that the `content` attribute is there. I'm testing with Postman

[2021-05-17 05:01] mcadet commented on #85
@MeerKatDev in your `config/auth.php` file, if the guard for API is like that:
[code]
Use simply `auth('api')->whatever()` instead of `auth('sanctum')->whatever()`. Keep it simple, I was facing the same issue for long time.

Hope it would help!

[2021-05-17 08:20] MeerKatDev commented on #85
I tried with `Route::middleware('auth:api')->group(function() ...`, doesn't work either.

[2021-05-17 13:01] ErikRicci opened #87 "Lumen integration"
Hey, I want to know if LaravelOnion can be integrated with Lumen Framework.

Thanks :)

[2021-05-18 00:48] alexzarbn commented on #87
Hi @ErikRicci,

No, Lumen is not supported. Please check this [thread](https://github.com/tailflow/laravel-orion/issues/26#issuecomment-749038664).

[2021-05-18 00:48] #87 closed

[2021-05-18 00:49] alexzarbn commented on #85
Hi @MeerKatDev,

How are you performing the requests to the API: via Postman/Insomnia or from an SPA app?

[2021-05-18 09:32] MeerKatDev commented on #85
from Postman, why is that important?

[2021-05-18 10:37] Maximryzhkov opened #88 "Replacing a record"
#81 @alexzarbn

I overrode the performStore method

protected function performStore(Request $request, Model $post, array $attributes): void
{

    if (Sale::where('transaction_id', $attributes['transaction_id'])->first()) {

        $post = Sale::where('transaction_id', $attributes['transaction_id'])->first();
        $post->bonus = $attributes['bonus'];

    }

    else {

        $post->fill($at

[2021-05-18 12:49] musixite opened #89 "invalid json response with null"
when fetching data with a field that can return null, I can't filter the response with null objects. I have to use the 0 value.

api response
[code]

JS filtering (doesn't work)
[code]

JS filtering (works)
[code]

[2021-05-20 04:17] alexzarbn commented on #85
@MeerKatDev,

Sometimes 403 error is caused by misconfigured Sanctum's stateful domains.

Have you configured Sanctum correctly? Please check the following:

- Make sure `EnsureFrontendRequestsAreStateful` middleware is added to the api route group in `app/Http/Kernel.php`
- Run migrations

If none of this helps, try to create a simple route (not the Orion one) under the sanctum auth guard and see

[2021-05-20 04:25] alexzarbn commented on #88
@Maximryzhkov,

From the provided exception stack trace I see that the error occurs when you try to _store_ a record, not _update_ it.

Please ensure that the following line is correct:

[code]

Assigning a sale to post? Does not seem to make sense.

[2021-05-20 04:26] alexzarbn commented on #89
Hi @musixite,

Thank you for reporting the issue. I will look into it and get back to you soon.

[2021-05-20 20:16] musixite opened #90 "Global disallow auth"
Right now we can only disallow auth for each model.

for testing purposes, it’s also be nice to disable it globally so that there would be no need to remove it for every model when auth is setup

[2021-05-20 21:45] MeerKatDev commented on #85
I don't get 403 there.

[2021-05-21 04:25] alexzarbn commented on #85
@MeerKatDev

`QuotationPolicy` is configured to use `Forum` model, not `Quotation`.
If this does not solve the issue, please ensure that the request class is not overriding `authorize` method (or ensure that this method returns true).

This is clearly not the problem with the package itself - closing the issue. Please use forums to seek help with this kind of issues.

[2021-05-21 04:25] #85 closed

[2021-05-21 04:29] alexzarbn commented on #90
Hi @musixite,

Generally, it is preferable to setup auth from the very beginning to avoid problems in the future.
Introducing such option would encourage developers to avoid implementing the authorisation logic. For now, I do not think it is a desired behaviour.

[2021-05-21 04:30] #90 closed

[2021-05-21 06:14] MeerKatDev commented on #85
if that was the problem, I would get some compilation error

this was the issue, but I don't see it anywhere in the documentation that it's supposed to be a problem somehow.

[2021-05-21 10:47] MeerKatDev commented on #85
@alexzarbn it seems that this library just doesn't work with mongodb. Can you confirm?

[2021-05-21 14:45] musixite opened #91 "best way to implement multi language ?"
I'm wondering how I could setup the api to make it multi language ready (for the models)

Is it better to use a json field with the different languages
[code]

or using a related Model for the translations
[code]
and then Fetch the api with an optional lang param in the query?

[2021-05-25 04:26] alexzarbn commented on #91
Hi @musixite,

Generally, I would recommend using a json field for that.

Please use a specialized forums for questions of this nature in the future - GitHub issues are made specifically for things related to the repository itself, not general questions like this.

[2021-05-25 04:26] #91 closed

[2021-05-25 04:37] alexzarbn commented on #89
@musixite,

The problem is that you are not getting the correct results from the API when using TypeScript SDK or the results are correct, but the filtering on client side (using some other library) is not working as expected?

[2021-05-25 04:37] #83 closed

[2021-05-26 21:51] dtufood-kihen commented on #34
:+1:

[2021-05-29 14:25] #89 closed

[2021-05-29 14:25] #88 closed

[2021-06-13 06:36] alexzarbn commented on #6
The feature is now available as part of the [v2.0 release](https://github.com/tailflow/laravel-orion/releases/tag/2.0.0) 🎉

[2021-06-13 06:36] #6 closed

[2021-06-13 06:36] alexzarbn commented on #16
The feature is now available as part of the [v2.0 release](https://github.com/tailflow/laravel-orion/releases/tag/2.0.0) 🎉

[2021-06-13 06:36] #16 closed

[2021-06-13 06:36] alexzarbn commented on #46
The feature is now available as part of the [v2.0 release](https://github.com/tailflow/laravel-orion/releases/tag/2.0.0) 🎉

[2021-06-13 06:36] #46 closed

[2021-06-13 06:36] alexzarbn commented on #57
The feature is now available as part of the [v2.0 release](https://github.com/tailflow/laravel-orion/releases/tag/2.0.0) 🎉

[2021-06-13 06:36] #57 closed

[2021-06-13 06:36] alexzarbn commented on #73
The feature is now available as part of the [v2.0 release](https://github.com/tailflow/laravel-orion/releases/tag/2.0.0) 🎉

[2021-06-13 06:36] #73 closed

[2021-06-13 06:37] alexzarbn commented on #84
The feature is now available as part of the [v2.0 release](https://github.com/tailflow/laravel-orion/releases/tag/2.0.0) 🎉

[2021-06-13 06:37] #84 closed

[2021-06-14 22:20] musixite opened #94 "Many to Many with pivot gives invalid data"
## recipes
[code]
## ingredients
[code]

## recipe ingredients
[code]

When sending the following API request:
[code]

with JSON body
[code]

I get this response error:
[code]

Note that it works without pivot
[code]

[2021-06-15 16:32] DavidSprauel opened #95 "Nested Route `show` methods"
Hey,

First thanks for this package, I find it amazing.
I've been using it to try it with one of my project and I have more a question than an issue.

I am using a nested relation as:
[code]

With that I have routes like `/api/v1/users/{user}/programs/{program}`
But when I request for example `/api/v1/users/1/programs/20`, the api returns me the program id 1 because the show methods uses the first

[2021-06-15 21:04] llebc opened #96 "Recursive request validation"
Hey,

I've found that most of the time of me using requests I put validation into the common which I expect to appear in *all* requests. For example, an email field would be required in both store & update methods.

However, with the package as it does an `array_merge` it takes the latter, which in this case on a store request it'll use only the `storeRules` and not `commonRules`.

Take the follow

[2021-06-15 21:27] llebc commented on #96
I took it upon myself to create a PR as I already had this fixed locally.

[2021-06-16 09:01] rzenkov opened #98 "Is hasManyResource searchable?"
Hi there

I can't find any docs or issues about this behavior.

### Issue:

i've registered  `Orion::hasManyResource()`,
for `class CategoryProductsController extends RelationController`

`/search` - endpoint exposed in `artisan route:list`

but, when i try to send request, i've got an error

[code]

### Questions:

- Is this a bug?
- Or `search` method  should be created  by me?
- Can I disable `

[2021-06-16 09:40] rzenkov commented on #98
I've created `search` method in controller:
[code]

And it works fine.  I think It should be documented. ( but not  with my english ).

[2021-06-16 11:39] ykamal opened #99 "Installation error: Installation request for doctrine/dbal (locked at 3.0.0) -> satisfiable by doctrine/dbal[3.0.0]"
Fresh Laravel 8 installation.

Full error description:
[code]

[2021-06-16 11:40] ykamal commented on #99
I ran `composer require doctrine/dbal` and it installed the required dependencies. I just think this should be something handled by the documentation.

[2021-06-16 12:55] DavidSprauel commented on #95
Another example I have today:

`Orion::hasManyResource('programs', 'workouts', WorkoutsController::class)->withoutBatch();`

the `/api/v1/programs/{program}/workouts` return me all the workouts and not the one of the specified program.

[2021-06-17 12:32] ykamal opened #100 "Infinite Depth Recursive nested relationships"
I am curious as to how I can include a relationship that is nested and recusrive to infinite depth. For example, I have an Areas model, that has a relationship calls `children`. That relationship is like so:

[code]

Usually, I would use it like so with Eloquent:
[code]
And I would get an infinitely nested list of areas with their children (sub-areas).
[code]

I have seen that I can use this to ge

[2021-06-18 03:02] alexzarbn commented on #94
Hi @musixite,

There is a trailing comma in request body:

[code]

[2021-06-18 03:02] #94 closed

[2021-06-18 03:04] alexzarbn commented on #95
Hi @DavidSprauel,

Do `WorkoutsController` and `ProgramsController` classes extend `RelationController`?

[2021-06-18 03:39] alexzarbn commented on #98
Hi @rzenkov,

Thank you for raising this issue! It is actually a bug, and it is now fixed in [v2.0.1](https://github.com/tailflow/laravel-orion/releases/tag/2.0.1).

[2021-06-18 03:39] #98 closed

[2021-06-18 03:46] alexzarbn commented on #100
Hi @ykamal,

Perhaps you could try to just use `children` relationship, since it already has the `->with('children')` part, e.g.:

[code]

If that does not work, then I assume it might be the [relation guarding](https://github.com/tailflow/laravel-orion/blob/main/src/Drivers/Standard/RelationsResolver.php#L169) that prevents nested (recursive) relations to be included in a response.

Please let me

[2021-06-18 03:50] alexzarbn commented on #99
Hi @ykamal,

What [method](https://laravel.com/docs/8.x#your-first-laravel-project) have you used to bootstrap the Laravel project?

Creating a fresh Laravel project using Composer and then installing Laravel Orion works fine on my side 🤔

[2021-06-18 04:39] ykamal commented on #99
Hi. I am not using Docker. It's just a basic `laravel new orion-test` project. I did add some service providers to test differences. Here is the `AppServiceProvider.php` file:
[code]

[2021-06-18 06:05] ykamal commented on #100
I have already tried that. It only returns one depth of relationship.

[2021-06-18 06:07] ykamal commented on #100
Hi @alexzarbn !
No, that doesn't work. I tried that the first thing. Afterwards, I resorted to defining the depths with `children.children` to test my UI.

[2021-06-18 06:10] ykamal commented on #100
Here's the response with
[code]

Response from `http://localhost:8000/api/areas?include=children`:
[code]

[2021-06-19 05:05] alexzarbn commented on #99
@ykamal Hmm, I am wondering, it that can be related to Composer 1. Could you please try to upgrade to Composer 2, and see if you still experience the same issue?

[2021-06-19 05:06] alexzarbn commented on #100
@ykamal Okay, that must be the relations guarding then. I will put it in the list of features for v2.1 👌🏻

[2021-06-19 07:14] alireza2281 commented on #16
Hi thanks for your hard work after updating from version 1 to 2 completely when i run the command
`php artisan orion:specs`
i got this error:
`  Return value of Orion\Specs\Builders\PathsBuilder::resolveRoute() must be an instance of Illuminate\Routing\Route, null returned`
and the $operationName passed to the function resolveRoute is search
what am i doing wrong?

and i have another question is t

[2021-06-19 09:00] alexzarbn commented on #16
Hi @alireza2281,

Could you please check, if you are running v2.0.0 or v2.0.1? The later one contains a fix for the missing search method.

[2021-06-19 13:01] alireza2281 commented on #16
@alexzarbn

Yeah it's on v2.0.1. if you need more information, tell me to comment for you

[2021-06-20 05:41] ykamal commented on #100
@alexzarbn thanks. I will use a custom endpoint in the meantime. This is my first time using Orion and liking it so far, especially the TypeScript SDK. Great library 👍

[2021-06-21 05:02] alexzarbn commented on #16
@alireza2281

- Please share the contents of `api.php`
- Are you using a different namespace for controllers (something other than `App\Http\Controllers`)?

[2021-06-21 05:33] alireza2281 commented on #16
@alexzarbn

I am using nwidart and i have multiple modules and multiple `api.php` files but most of the routes defined in these files are `Orion::resource` .

about namespaces, yes i have a controllers namespace per module i create.

for example one of my `api.php` is like this:
`

      /**
       *
       * User Resources
       */
      Route::group(['prefix'=>'user'], function (){
          Or

[2021-06-21 08:26] DavidSprauel commented on #95
@alexzarbn well then I missed something, thanks and sorry for the time ^^

[2021-06-21 08:26] #95 closed

[2021-06-21 10:04] smartie19889 opened #101 "Missing parameters in the generated OpenAPI specs"
When generating OpenAPI Specifications, it doesn't create an parameters for use in Swagger. Is this a feature yet? Thanks

[2021-06-21 17:27] DenisJunio commented on #16
I had the same problem in my case it was due to the controllers namespace

@alireza2281 test with the following changes:

`src/Specs/Builders/PathsBuilder.php` in `resolveRoute`
[code]

`config/orion.php`
[code]

[2021-06-22 03:55] alexzarbn commented on #101
Hi @smartie19889,

By parameters do you mean query parameters or request body?

[2021-06-22 04:06] alexzarbn opened #102 "(specs) Support for multi-namespace controller allocation"
Ref: https://github.com/tailflow/laravel-orion/issues/16#issuecomment-864741126

[2021-06-22 04:07] alexzarbn commented on #16
@alireza2281 @DenisJunio

I have created a [dedicated issue ](https://github.com/tailflow/laravel-orion/issues/102)for this, let's continue the discussion there.

[2021-06-22 05:09] alireza2281 commented on #102
@alexzarbn

The laravel version is on v8.47.0

[2021-06-22 05:19] alireza2281 commented on #102
@DenisJunio

I've tested what you suggest to do but did not  fix the problem it still has error on
`
  $this->router->getRoutes()->getByAction("{$controller}@{$operationName}")
`
when `$operationName`  is search

[2021-06-24 09:10] smartie19889 commented on #101
Hi @alexzarbn

I mean in the request body (i think) so you can easily perform the actions in Swagger without having to know the parameters

Thanks

[2021-06-24 18:41] ykamal commented on #99
@alexzarbn yep! That was it! After upgrading to Composer v2 and testing a fresh installation, there were no issues. I think we can close this one.

[2021-06-26 08:19] alexzarbn commented on #99
@ykamal Okay, thank you for letting me know - I will add a note to the installation docs 👌🏻

[2021-06-26 08:19] #99 closed

[2021-06-26 09:03] alexzarbn commented on #102
Hi @alireza2281,

Please update to [v2.1.0](https://github.com/tailflow/laravel-orion/releases/tag/2.1.0) - it should be fixed there.

[2021-06-26 09:03] #102 closed

[2021-06-26 09:03] alexzarbn commented on #101
Hi @smartie19889,

Could you please update to [v2.1.0](https://github.com/tailflow/laravel-orion/releases/tag/2.1.0) and see, if you still experience the issue?

[2021-06-26 09:06] alexzarbn commented on #100
Hi @ykamal,

The ability to search on deeply nested recursive relations has been added with [v2.1.0](https://github.com/tailflow/laravel-orion/releases/tag/2.1.0) release ~

You can now simply use the following code:
[code]

And then whitelist only `children` relation:

[code]

[2021-06-26 09:06] #100 closed

[2021-06-26 09:09] alexzarbn commented on #77
Hi @josecl @jonagoldman,

I have added `performFill` method - it can be used to override the default logic, instead of overriding each and every `performStore` & `performUpdate` methods. This way it is more flexible than a config option and requires only a single change in a base controller.

[2021-06-26 09:09] #77 closed

[2021-06-27 22:54] josecl opened #105 "Since v2.0 action Methods `index` are not searching anymore"
Starting at v2.0 the method `QueryBuilder->buildQuery()` searches only in `search` actions.
Is this the new behavior or should be available for both: `index` and `search` actions?

In v1.x I was filtering data via query strings on `index` actions.
I want to confirm if I need to update my code accordingly.

Thank you!

[2021-06-29 04:26] alexzarbn commented on #105
Hi @josecl,

Yes, it is the new behavior in v2 - search constrains won't be applied for `index` endpoint

[2021-06-29 04:26] #105 closed

[2021-06-30 06:14] ykamal commented on #100
Awesome! Thanks!

[2021-07-05 10:31] vrusua opened #108 "Add support of the cursor pagination"
@alexzarbn

Hi Aleksei,

Recently, the cursor pagination has been added to Laravel core and Eloquent API Resources:
https://laravel.com/docs/8.x/pagination#cursor-pagination
https://github.com/laravel/framework/pull/37216
https://github.com/laravel/framework/pull/37315

It suits better for infinite scrolling and has a better performance in comparison to the offset based one
https://shopify.enginee

[2021-07-05 14:50] ykamal commented on #100
IT WORKS!!!! Thanks!
![image](https://user-images.githubusercontent.com/50125998/124489235-95bd1680-ddd2-11eb-9c47-a4cae0eff3b5.png)

[2021-07-06 20:35] Gounlaf opened #109 "[Feature Request] Use sortBy parameters in Index operation"
Hi,

It would be nice to be able to use the "sortBy" parameters (or any other) in the "Index" operation.
I might be able to create a PR for that.

Thanks,

Regards.

[2021-07-07 04:06] alexzarbn commented on #108
Hi @vrusua,

It is currently not supported in Orion, but might be added in the future releases.

In the meantime, please take a look at how you can [customize queries](https://tailflow.github.io/laravel-orion-docs/v2.x/guide/models.html#customizing-queries) - might be possible to get cursor pagination working by overriding a few query builder methods.

[2021-07-07 04:07] alexzarbn commented on #109
Hi @Gounlaf,

What is the use case for that versus just using the search endpoint?

[2021-07-07 04:10] #101 closed

[2021-07-07 16:42] Gounlaf commented on #109
Hi @alexzarbn,

`list/index` endpoint is, in my usage of APIs, a standard need, with usually sorting on "date" (created/updated) or "sequences" (id) attributes.

When I wrote the issue I thank `search` was overkill.

Now, with `search` having so much capabilities, I'm wondering: what the purpose of the `index`, if `search` does the same thing ? :open_mouth:

[2021-07-08 23:54] musixite opened #111 "Passing an extra attribute on beforeSave"
In order to upload a file, I’m sending 2 attributes (imageData and imageLlink)

On beforeSave, i want to upload the imageData but this attribute won’t be saved in the database, only the imageLink

so how do I declare the imageData attribute (and where)?

thanks!

[2021-07-09 04:04] alexzarbn commented on #109
@Gounlaf

The purpose of the `index` endpoint is to provide a simple _and standard in terms of CRUD terminology_ way for listing paginated resources. However, in a more complex API architectures, it is advised to use `search` all the time (especially, if an API is used purely as SPAs backend), because sooner or later there will be a need for filtering or sorting.

For now, I do not think that maki

[2021-07-09 04:04] #109 closed

[2021-07-09 04:08] alexzarbn commented on #111
Hi @musixite,

This is not related to the package, but rather the business logic of an app itself - please use a specialized forums for questions of this nature - GitHub issues are made specifically for things related to the repository itself, not general questions like this.

[2021-07-09 04:08] #111 closed

[2021-07-10 04:30] vesavlad opened #112 "Raw usage of entity 'id' field when doying an update operation"
In case off trying to update a model that has a default key that is different than "id" the operation fails with following exception:
[code]

Did investigate the problem a bit and the source might be related to this line from ```trait HandlesRelationStandardOperations``` inside the ```update``` method:
[code]

The cause of the failure is that my ```$entity``` does not have ```id``` field and inste

[2021-07-10 07:10] alexzarbn commented on #112
Hi @vesavlad,

Thank you for raising this issue! The fix is included in [v2.1.3](https://github.com/tailflow/laravel-orion/releases/tag/2.1.3) release.

Glad you find the package useful :)

[2021-07-10 07:10] #112 closed

[2021-07-12 05:32] vesavlad opened #114 "Make "always include" more granular"
I have an api for providing localization information and shaping data. In this case I don't want to always include points for a shape for example when doing the regular "index" call but I want them to always be included when doing the "detail" call to get one shape.

Ex:
```/api/v1/shapes``` should not include the points cause this generates allot of data that not all is useful for the client
```/

[2021-07-13 16:46] ykamal commented on #34
+1

[2021-07-14 03:55] alexzarbn commented on #114
Hi @vesavlad,

Perhaps just put a condition inside the `alwaysInclude` method?

[code]

[2021-07-16 12:48] ionut-tanasa commented on #114
Maybe `indexIncludes` and `showIncludes` could be useful?

[2021-07-17 07:53] vesavlad commented on #114
well, would say that indeed would make sense for orion to have something like this available:
[code]

Where in case no config is specified we the include will be available for both.
More than this, this option can be extendend to other CRUD operations leaving the versatility for the user where he wants the data to be shown.

This option can be used also for ```includes()``` method.

In this way:

[2021-07-19 07:53] alexzarbn commented on #114
Hmm, I do see some benefits of making whitelisting more granular, but at the same time it feels like covering of edge cases 🤔
I will leave the issue open - lets see, if there are more developers that encounter this situation. In the meantime, I will check what are the possible solutions for this.

[2021-07-19 20:42] jnorms opened #116 "Inertia.js support"
Hi, I was thinking here, I know the package has operational focus on creating API's. What do you think the package supports Inertia.js?

[2021-07-22 13:24] DavidSprauel opened #117 "Database Transaction"
Hey,

I'm currently working on a project with Orion. I have to performStore an entity but many actions to perform after that.
So i'm using `afterSave` hook.
My problem is that in my base project I used a try catch to manage error within the script and was using database transaction.

My question is how do you manage to use transaction or use a try catch ? In the `afterSave` ? And I remove my entit

[2021-07-26 15:50] alexzarbn commented on #116
Hi @jnorms,

Currently there are no plans for implementing something like this for Inertia.js.

[2021-07-26 15:50] #116 closed

[2021-08-01 10:09] Anfal95 commented on #24
I have the same issue, the code works fine if I put use DisableAuthorization
I have created policy, and put it in the AuthServiceProvider

[2021-08-01 10:14] Anfal95 opened #118 "This action is unauthorized"
I have this issue when I remove use DisableAuthorization; line, I have created policy and put it in the AuthServiceProvider

[2021-08-02 14:09] alexzarbn commented on #118
Hi @Anfal95,

What auth driver do you use for the api?

[2021-08-02 15:25] DavidSprauel opened #119 "Relationship controller Authorization"
Hello,

While using Orion I spotted a point that could be enhanced.
I have several entities that are related to the `Company` model like `companies/{company}/messages` or `companies/{company}/documents` and I have for each to override store method just to change this : ` $this->authorize('create', [$resourceModelClass, $parentEntity]);`

I think that in relation controller, passing the parentKey i

[2021-08-03 08:15] Anfal95 commented on #118
the default one which is api jwt

[2021-08-04 04:37] alexzarbn commented on #118
@Anfal95,

Have you configured that correctly? https://laravel.com/docs/5.8/api-authentication#configuration

[2021-08-04 04:47] alexzarbn commented on #119
Hi @DavidSprauel,

I think it would make sense to introduce wrapper methods for authorization, similar to how it is implemented for operations (e.g. `performStore`, `performUpdate`, etc.) - https://tailflow.github.io/laravel-orion-docs/v2.x/guide/relationships.html#customizing-queries.

Passing parent entity directly to a policy is an app-specific feature and would result in unexpected behavior fo

[2021-08-04 05:03] Anfal95 commented on #118
yes the configuration is correct

[2021-08-04 08:24] Anfal95 commented on #118
The issue was solved thank you

[2021-08-04 12:46] #118 closed

[2021-08-25 09:06] Marko298 commented on #119
Maybe it is better to create something like `createChild` policy method?

[2021-08-30 23:57] ldiebold opened #121 "Laravel Octane Compatibility"
When making a request that's validated with Orion, using **Octane**, the second request skips validation.
This is likely due to the nuances in [making a package octane ready](https://laravel.com/docs/8.x/octane#dependency-injection-and-octane).

I did some digging into the source code, but started to hit the limits of my knowledge. Reproduced the bug with a basic app instead:

[https://github.com/

[2021-09-01 04:34] alexzarbn commented on #121
Hi @ldiebold,

Thank you for raising this issue! I haven't checked Orion's compatibility with Octane, but it looks like there might be a few caveats. Will try to include it as part of the next release 👌🏻

[2021-10-01 06:44] mwangaben opened #125 "Support Form Multiple Guards"
This is very use full since, for some API you have  api guard form normal user and customer guard for  customers' endpoints

[2021-10-01 07:32] olragon opened #126 "Filter by grouped Or/And conditions"
Can we implement this usage pattern?

[code]

[code]

[2021-10-01 07:39] olragon opened #127 "Aggregate support: count, max, min, avg, sum"
Can we implement this feature?

Thank you for your great project.

[2021-10-01 16:46] olragon opened #128 "Sparse Fieldsets"
https://jsonapi.org/format/#fetching-sparse-fieldsets

Can we implement this usage pattern?

[2021-10-03 12:14] mwangaben commented on #125
Sorry i did catch this  on the docs,

`namespace App\Http\Controllers\Api;

use App\Models\Post;

class PostsController extends ApiController
{
    /**
     * @var string $model
     */
    protected $model = Post::class;

     /**
     * Retrieves currently authenticated user based on the guard.
     *
     * @return \Illuminate\Contracts\Auth\Authenticatable|null
     */
    public function reso

[2021-10-03 12:14] #125 closed

[2021-10-03 12:15] mwangaben commented on #125
Sorry i didn't catch this on the docs

         `namespace App\Http\Controllers\Api;

use App\Models\Post;

class PostsController extends ApiController
{
    /**
     * @var string $model
     */
    protected $model = Post::class;

     /**
     * Retrieves currently authenticated user based on the guard.
     *
     * @return \Illuminate\Contracts\Auth\Authenticatable|null
     */
    public fun

[2021-10-04 14:00] alexzarbn commented on #128
Hi @olragon,

It is currently not supported and there is no scheduled milestone for this feature yet. Leaving the issue open to see, if more developers would need that functionality.

[2021-10-04 14:02] alexzarbn commented on #126
Hi @olragon,

It is currently not supported and there is no scheduled milestone for this feature yet. Leaving the issue open to see, if more developers would need that functionality.

[2021-10-11 01:11] ldiebold commented on #121
@AbdullahFaqeir amazing! Is there a fork I can use? :slightly_smiling_face:

[2021-10-17 10:02] davigs opened #129 "How to add an extra path to the route"
Hey guys,

I have a problem to add an extra path in the routes generated by Orion.

```TeamMemberLookupController.php```
<img width="505" alt="Captura de Tela 2021-10-17 às 07 00 31" src="https://user-images.githubusercontent.com/4110873/137622239-908c8750-2922-4c0b-9e53-478bb4f631fd.png">

```route:list -c command output```
<img width="1176" alt="Captura de Tela 2021-10-17 às 06 55 49" src="htt

[2021-10-31 11:40] alexzarbn commented on #117
Transactions support is now available in [v2.2.0](https://github.com/tailflow/laravel-orion/releases/tag/2.2.0) release.

Documentation: https://tailflow.github.io/laravel-orion-docs/v2.x/guide/hooks.html#transactions

[2021-10-31 11:40] #117 closed

[2021-10-31 11:42] #96 closed

[2021-11-06 12:15] horstoeko opened #133 "Missing parent entity authorization in Relation*-Controllers"
Hi,

I think that I have found a bug. Some methods in the HandlesRelation*-Traits do not authorise the parent entity. This does not seem correct to me. What is your opinion?

I noticed this in HandlesRelationStandardOperations->store. It does not check if the logged in user has at least read permissions on the parent entity. However, the "index" method performs a check for read permissions on the

[2021-11-08 15:21] DavidSprauel opened #134 "Search Pagination issue"
I'm using the endpoint in a relationship `/companies/company_id/documents/search`

As a body of the post:
[code]

When I requiert page 1 no problem, let's say I got 88, 87, 86 , 85, 78 as ids and when i requiert page 2 i got 78, 79, 80, 81, 82 which generate error in my front-end.
I tried to remove my custom `buildIndexFetchQuery` but same.

Then I tried to remove the sort and it works. it seems l

[2021-11-08 15:26] #134 closed

[2021-11-09 16:07] alexzarbn commented on #133
Hi @horstoeko,

That's a good question! The `index` method checks parent entity permissions simply because there is no single child entity to check against.

The same applies to the `store` method, however, it is a bit tricky - what does `store` operation on a child entity mean to the parent entity in terms of permissions - is it an update or a view? In some cases, a user may be able to read the p

[2021-11-11 10:39] marcvdm commented on #133
I made a draft pull request for this. We currently use this package for several packages and this is something we really need.
[#135 ](https://github.com/tailflow/laravel-orion/pull/135)

[2021-11-11 10:58] horstoeko commented on #133
Hi @alexzarbn

Thanks for your statement. I can follow your (very good) explanations and understand the problems. Probably the solution of pull request #135 is exactly where I wanted to go. Let's construct a (theoretical) case:

I have serveral blog categories to which of course different posts belong. The blog categories have users assigned to them, who can read entries in the respective categori

[2021-11-15 16:00] #133 closed

[2021-12-12 22:05] anthonymf opened #137 "Ability to alias filter column names"
Laravel API resources provide the ability to alias database fields in the JSON response, e.g.
[code]

And Laravel Orion provides [Filters](https://tailflow.github.io/laravel-orion-docs/v2.x/guide/search.html#filtering) which expose the raw database fields, e.g.

[code]

But this means that the frontend developer has a "nice" name in the JSON response but must use a "raw" database field name in the

[2021-12-13 10:56] keksum666 opened #138 "Get page from meta data"
Hello everyone, can I pull meta data from query builder?

To get the data, I use the following code:
![image](https://user-images.githubusercontent.com/47279073/145800033-47e07c0d-e0b7-4fa8-8cfd-29433ab07797.png)

Response:
![image](https://user-images.githubusercontent.com/47279073/145800204-e0434f66-114b-428c-8b90-230bf0c50a00.png)

The problem is that it returns an array of objects at once, is

[2021-12-19 11:53] alexzarbn commented on #137
Hi @anthonymf,

Why not just rename the column in db? 🤔 Column names should be easy to understand on both frontend and backend.

[2021-12-19 11:57] alexzarbn commented on #138
Hi @keksum666,

Each model returned by the API is populated with `$request` property that contains a complete response, including the `meta` field. Please also refer to [this](https://github.com/tailflow/laravel-orion-ts/issues/5) issue.

P.S. The question is not related to that repository - should be created in [TypeScript SDK](https://github.com/tailflow/laravel-orion-ts) repository.

[2021-12-19 11:57] #138 closed

[2021-12-19 14:04] anthonymf commented on #137
@alexzarbn Renaming the db column would not suit use cases where the DB is tightly coupled to other systems or other existing code in the Laravel application.

But I think the principle of Laravel API Resources is that they allow fields in JSON responses to be aliased in the response, rather than having to do this in the database. This neatly couples the API responses from the db structure.
I’m su

[2021-12-22 03:11] nathan-io commented on #121
Hi @ldiebold wondering if you've had a chance to investigate this any further? I'll be serving an API with Octane and was hoping to use Orion!

I'm wondering if it could be as simple updating the `flush` config in `config/octane.php`:

[code]

[2021-12-22 07:27] ldiebold commented on #121
@nathan-io not sure... But let me know if that works!

Would also love to move to octane. Even in local dev, I can really feel the difference.

We just need to be sure it works, because the issue I had is that it's skipping Request Validation. If validation is skipped, that's a pretty serious security concern.

[2021-12-23 01:45] nathan-io commented on #121
@ldiebold I'm still building out the models, policies, etc., will probably be a bit before I can start configuring and testing Orion.

I've made some notes about Octane, here are some resources I've found which may be helpful in diagnosing the issue:

- "Dependency Injection & Octane" from [Laravel Docs](https://laravel.com/docs/8.x/octane#dependency-injection-and-octane)
- "Coding With Laravel Oc

[2021-12-27 17:53] alexzarbn commented on #137
@anthonymf Okay, that makes sense. I think introducing a method `aliases` that lists such fields would work. It can be used by `QueryBuilder` for filtering and sorting, and by controllers to map incoming request attributes onto model attributes.

[2021-12-28 13:11] anthonymf commented on #137
@alexzarbn Yes, that sounds like a good plan.

[2021-12-31 10:35] nvtdien commented on #134
how to search + pagination combine

[2022-01-04 10:53] glennjacobs commented on #128
This would be really handy to have. Would you be open to a PR?

[2022-01-05 23:44] maxzod opened #142 "enhancement - DELETE operations cannot have a requestBody."
![image](https://user-images.githubusercontent.com/47630729/148305289-6376c1d4-f26b-4c77-aa9b-cde8be6027aa.png)

<details>
<summery>   json </summery>

[code]
</details>

[2022-01-07 15:14] alexzarbn commented on #128
Hi @glennjacobs,

Sure, PRs are always welcome ~

[2022-01-13 09:18] FareedR opened #145 "is there any roadmap for Swagger UI?"
similar like this?

https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger/_static/swagger-ui.png?view=aspnetcore-6.0

[2022-01-13 13:37] alexzarbn commented on #145
Hi @FareedR,

No, it is outside of scope of this project. Orion can generate OpenAPI specs, but how to use these specs to render the documentation is up to you.

There are projects like [Redoc](https://github.com/Redocly/redoc) that do what you might be looking for.

[2022-01-13 13:37] #145 closed

[2022-01-18 14:57] rollsover opened #146 "In first call validation from Request is working, in second is not (using Laravel Octain)."
Just integrate Laravel Orion and make some REST using Orion and write Request for this REST.

[2022-01-18 14:58] rollsover commented on #146
Sorry, its like https://github.com/tailflow/laravel-orion/issues/121

[2022-01-18 14:58] #146 closed

[2022-01-29 14:24] paulelpidorou opened #148 "Cannot override the buildFetchQuery method to load relations"
To begin with i would like to say that this is an amazing package.. Nice work 👍 👍

So my issue is that i cannot override the `buildFetchQuery` method in order to load relations on all endpoints. I know there is an `alwaysIncludes` method but it it can lead to duplicate declarations of relations
For example
`User` has `Profile`
`Profile` has `Address` and `Phone` relation

Using the `alwaysIncludes

[2022-02-21 02:31] rcianor commented on #24
Exists one codition: if the migration aren´t the timestamps atributes and the Laravel try to write this. Verify if in the Model have this:   public $timestamps = false;

Hugs.

[2022-02-26 12:17] 6h4n3m opened #151 "Orion always appends App\\Http\\Controllers to controllers namespace"
Config
`
return [
    'namespaces' => [
        'models' => 'App\\Models\\',
        'controllers' => ''
    ],
    'auth' => [
        'guard' => 'sanctum'
    ],
    'specs' => [
        'info' => [
            'title' => env('APP_NAME'),
            'description' => null,
            'terms_of_service' => null,
            'contact' => [
                'name' => null,
                'url' =>

[2022-02-27 15:51] 6h4n3m commented on #151
Issue wasn't related to Orion, the Laravel app in question was migrated from a pre 8.0 version and still had the old $namespace declaration in the RouteServiceProvider class.

[2022-02-27 15:51] #151 closed

[2022-03-09 14:19] 6h4n3m opened #152 "Orion injects the Store/Update request instance in Fetch/Index...etc Endpoints"
Orion has some really weird behavior when it comes to injecting Request classes.

As per the documentation, we can specify a request class in the controller which would be used to define validation rules for store/update operations, but the problem is, Orion actually injects that same class in all other types of operations (like Index... etc) and tries to validate the request and fails every time.

[2022-03-24 02:20] vishalag991 commented on #152
I'm also facing the same issue. Can you please suggest.

[2022-03-27 11:04] alexzarbn commented on #148
Closing due to inactivity.

[2022-03-27 11:04] #148 closed

[2022-03-27 11:16] alexzarbn commented on #152
Hi @6h4n3m,

Normally, validation would not be triggered in `index`, `show`, or any other methods. If you take a look inside the `rules` method of the base `Request` class that is shipped with Orion, you will find that it has checks in place that apply validation only to the required methods.

As a general rule of thumb, you should never override the `rules` method and use `commonRules` method ins

[2022-03-27 11:16] #152 closed

[2022-03-27 11:19] alexzarbn commented on #142
Hi @maxzod,

There are some cases when DELETE operations MAY have a body.
Please follow this [thread](https://github.com/swagger-api/swagger-ui/issues/4425) in Swagger UI repository.

[2022-03-27 11:19] #142 closed

[2022-04-05 06:17] ldiebold commented on #121
@alexzarbn are you open to pull requests for this?
We **LOVE** orion at work, and could probably dedicate some time to supporting octane!

As an aside... I started using another backend framework recently and can't begin to tell you how much I miss Orion/Laravel! It's an absolute joy to use :heart:.

[2022-04-05 16:11] alexzarbn commented on #121
@ldiebold Sure, any PRs are welcome, and it would be great to have support for Octane!

Oh, what framework are you using now? Why moved away from Laravel?

[2022-04-05 21:10] ldiebold commented on #121
Great, will look into it today!

Still using Laravel at current job, though new job is using a node backend.

Laravel spoils us! It has an answer, and a "way" for every backend problem I've ever had.

And some of these other frameworks don't even have documentation for some of the core functionality. It's crazy!

... Anywho, getting off topic 😅

[2022-04-11 12:10] v-radev opened #153 "Store and Update tries to save all fields coming in the request"
**Environment**
Laravel version: v.8.83.1
PHP version: 8.0.12
Orion version: 2.11

**Problem**
When you send a POST or PUT request, Orion tries to fill all the fields that are coming in, instead of just the fields that have been validated by the given Request class.

**Example**
I have a model called Task which has a `title` and `project_id` fields. If I send the following request I will get a dat

[2022-04-14 12:18] axtg opened #155 "Filtering json data"
I'm running into the challenge that I'm getting unexpected results when I apply a filter to an endpoint as below.
Seems like a filter on 500 is read as 5.

My data (tracks.configuration) contains maxProducts between 0 and 5.

Observations:
_I'm not running this in a single request, but for readability added to one view_
_Same holds when values are unquoted (e.g. not "400" but 400)_
[code]

[2022-04-19 16:13] #153 closed

[2022-04-19 16:16] alexzarbn commented on #155
Hi @axtg,

Could you please provide a sample of how data is stored in db for the `maxProducts` column?

[2022-04-20 17:41] alexzarbn commented on #155
@axtg,

Are you 100% sure `maxProducts` is always a number, not a string, e.g. `"5"`?

[2022-04-20 20:24] axtg commented on #155
Fair question, wouldn't be the first time.
Just checked. It only concerns 91 rows. All 91 of them are integers.

The only transposing is through the $casts attribute.

[code]

[2022-04-21 19:08] alexzarbn commented on #155
@axtg,

Hmm, interesting case, I will try to replicate the issue locally on the weekend.

[2022-04-22 18:52] horstoeko opened #156 "Security: Includes"
Hi!

Imagine the following situation: I have a blog post. A blog post has meta-data as a 1:n relation. Now I have a controller for the blog posts and a RelationController for the metadata of the blog post. Both the blog posts and the metadata of a blog post are secured by policies. This works absolutely correctly and flawlessly.

But when I allow my controller (the one for the blog posts) to inclu

[2022-04-24 13:17] alexzarbn commented on #156
Hi @horstoeko,

Partially - yes, it might be (or should I say, should be) a security concern, but it is up to a developer to ensure that included relation entities are retrieved and scoped accordingly, when used in model-level controller. This can be accomplished via [query customization](https://tailflow.github.io/laravel-orion-docs/v2.x/guide/models.html#customizing-queries).

[2022-04-28 09:55] nikolaysmeh opened #157 "Orion\Specs\ResourcesCacheStore::getResources(): Return value must be of type array, null returned"
This error returned after calling the `php artisan orion:specs` command.
The full stack is:

[code]

[2022-05-02 17:05] alexzarbn commented on #155
@axtg

Turned out to be a PostgreSQL thing. Because it sees that your data is numeric, but you pass "400", which is a string, it casts it automatically to a number.

Do not use string values when comparing numbers, and everything should work as intended.

[2022-05-02 17:05] #155 closed

[2022-05-02 17:06] #156 closed

[2022-05-02 17:16] alexzarbn commented on #157
Hi @nikolaysmeh,

Thanks for bringing it up, fixed in [v2.11.1](https://github.com/tailflow/laravel-orion/releases/tag/2.11.1) release.

[2022-05-02 17:16] #157 closed

[2022-05-05 16:04] mkabbanii opened #158 "Open API page not found on local server"
I've followed the documentation [here](https://tailflow.github.io/laravel-orion-docs/v2.x/guide/specifications.html)
I run `php artisan orion:specs` successfully then
`php artisan vendor:publish --tag=orion-config`

However when I visit http://127.0.0.1:8000/api I get 404 response. What I'm missing?

This is my orion.php:

[code]

[2022-05-08 13:59] alexzarbn commented on #158
Generating OpenAPI specs does not automatically create a renderer for them, neither does it setup any routes to view the docs.
You need to look for a way to render the docs, e.g. [Redoc](https://github.com/Redocly/redoc).

[2022-05-08 13:59] #158 closed

[2022-06-03 10:42] axtg opened #159 "Searchable does not provide results, filterable does"
In my Controller I have added this:

[code]

If I post this to the /search endpoint I get the expected result, only Xander shows.

[code]

However, if I post this (also to search), I'm getting the entire list of users. Also names like John and Jane.

[code]

Running this on Postgres 14.2. Am I doing something wrong?

[2022-06-03 15:22] francoisauclair911 opened #160 "[Question] Different Resource Response depending on endpoints."
Hi

Is it possible to use different Collection/Resource for different endpoint on the same controller?
I would like the `index` method to return a shorter list of attributes than the `show` method for example.

Thank  you

[2022-06-03 15:28] SachinGanesh commented on #160
Hi,

You can override the resource like this

[code]

[2022-06-03 15:34] SachinGanesh commented on #159
Hi,

Your search "key" is wrong. It should be "search" instead of "name"

[code]

[2022-06-03 15:44] axtg commented on #159
✅

[2022-06-03 15:44] #159 closed

[2022-06-29 13:21] axtg opened #161 "Create or update"
I need some help.

I'm posting a payload (`session_id`, `state_id`, `values`) to my endpoint with the intention to create a new row.
However, if the combination of `session_id` and `state_id` already exists, I'd like to update the `values` column for the existing row instead of creating a duplicate entry.

If I wrap this within the performStore() I'm getting a "wasRecentlyCreated" on null. Fair, b

[2022-06-29 14:26] axtg commented on #161
For now I'll just stick with overwriting the `store()` method. Here I use the Laravel native `updateOrCreate()` method, yet I feel I might miss out on some Orion magic then.

[2022-07-07 04:03] alexzarbn commented on #161
Hi @axtg,

Upsert operation is currently not available, but is planned for the coming releases.

For now, I would suggest looking into the `performStore` and `store` methods and how you could orchestrate it to fit your app needs.

[2022-07-07 04:03] #161 closed

[2022-07-07 04:04] #160 closed

[2022-07-07 11:39] ayaseensd commented on #128
I don't know it same my required senario because I read the docs and I didn't found it, How can I retrieve specific fields generally,

for example
`I have {Foo} Model with {id,name,something_else, secret_field_not_to_expose_it} fields
`
how to retrieve subset fields {id,name,something_else} when calling _index request_ for instance,

`GET 127.0.0.1:8000/api/foo`

the response I want:

[code]

that

[2022-07-08 12:16] pakomp opened #162 "OpenAPI specification"
Hi,

The specification generated by "php artisan orion:specs" seems to use enum for include query param values.

[code]

The above will be converted to :

[code]

Issue with wildcards as well. They will be converted to regular strings.
[code]
The above will be converted to :

[code]

Issue with resources and resource collections as well.

The following are added in a controller :
[code]

**Resourc

[2022-07-14 12:55] pakomp opened #164 "[Feature Request] Ability to set the number of records per page"
Would be great to be able to set the number of records returned per page.

[2022-07-14 14:31] alexzarbn commented on #164
Hi @pakomp

It is already possible by either providing `limit` query parameter of overriding `limit()` method on a controller.

Missing in the docs though - will update it, thanks for pointing out the problem.

[2022-07-14 14:31] #164 closed

[2022-07-14 14:52] alexzarbn commented on #164
Docs: https://tailflow.github.io/laravel-orion-docs/v2.x/guide/query-parameters.html#pagination-limit

[2022-07-15 05:05] pakomp commented on #164
Thank you for updating the docs! @alexzarbn :+1:

[2022-07-16 14:29] #126 closed

[2022-07-16 15:07] alexzarbn commented on #126
The feature is now available as part of the [v2.13.0](https://github.com/tailflow/laravel-orion/releases/tag/2.13.0) release ✨

[2022-08-10 07:33] GautierDele commented on #127
Would be necessary for us :)

[2022-08-31 11:08] hardikdangar opened #176 "How to define a catch-all route"
I have pages as my model. and i am binding it via,

`Orion::resource('pages', PageController::class)->where(['page', '([0-9A-Za-z/\s-]*)'])->only(['index', 'show']);`

above does work for single routes like
/api/pages/about

but it doesn't work for nested routes.
/api/pages/about/faq

I know laravel has any route so i can do it that way but orion doesn't have that. i even tried,
`Orion::resource('

[2022-09-03 06:50] atapatel opened #177 "How to create resource with relational data?"
First of all I would like to thank you tailflow team to create such a nice and wonder full package for Laravel Community. I just want to know How can I create resource with relational data.
For Example.
Product -> hasMany -> ProductVariant
-> I want to create single API point to create Product with ProductVariant then how can I do it?

[2022-09-07 10:09] jeroenqui commented on #177
https://tailflow.github.io/laravel-orion-docs/v2.x/guide/query-parameters.html#including-relations

[2022-09-07 14:02] atapatel commented on #177
@jeroenqui i guess that is for GET API.

[2022-09-08 20:03] hardikdangar commented on #176
@GautierDele can you help me with this

[2022-09-09 05:34] alexzarbn commented on #177
Hi @atapatel,

At this point, it is not possible to create both model and relation resource _in one query_. It is possible, however, to do that in two queries, but you would need both [model](https://tailflow.github.io/laravel-orion-docs/v2.x/guide/models.html#setting-up-controller) and [relation](https://tailflow.github.io/laravel-orion-docs/v2.x/guide/relationships.html#setting-up-controller) co

[2022-09-09 05:40] alexzarbn commented on #176
Hi @hardikdangar,

Might be a typo in your regex - escape the `\` character: `([0-9A-Za-z\/\s-]*)`

https://regex101.com/r/lxLz6P/1

![Screen Shot 2022-09-09 at 10 39 56](https://user-images.githubusercontent.com/12220926/189279102-25c448ef-313c-4dcb-8555-f00136c77b8a.png)

![Screen Shot 2022-09-09 at 10 39 13](https://user-images.githubusercontent.com/12220926/189279055-448f1797-0861-403e-a87e-dc

[2022-09-09 12:43] atapatel commented on #177
@alexzarbn I agree code will be duplicated :)

[2022-09-10 16:12] nialpe opened #178 "hasOneResource - missing specs and questionable behaviour of store route"
Hello!

First of all thanks for this great package, it's a big time saver for me.

At the moment I am working with hasOneResource relationship controllers and I got two problems with them.

In my api routes I define a resource controller for Users and a hasOneResource controller for UserProfiles:
[code]

First of all the specs generator doesn't create all paths for the UserProfileController. In my

[2022-09-19 16:54] Testinger opened #180 "How to add Laravel Sanctum and custom functions to OpenAPI specs"
Hi,

I'm using Laravel Sanctum for Authentication purposes, and I would like to add the route generated by Sanctum to Orion generated OpenAPI Specs file. From what I understand, the paths generated came from `PathsBuilder` from `resourcesCacheStore`, which I assume registered when using `Orion::resource` on `routes` file.

![image](https://user-images.githubusercontent.com/13846497/191070117-6a0dd

[2022-09-20 14:30] alexzarbn commented on #178
Hi @nialpe,

I will check the problem with specs generation for `hasOne` relations, that wasn't reported before, thank you!

As for the `store` operation, it does, indeed, seem like a good idea to handle that on API side. Not sure though what kind of exception would be appropriate in that case 🤔

[2022-09-20 14:33] alexzarbn commented on #180
Hi @Testinger,

At this point, Orion cannot generate OpenAPI specs for custom endpoints (endpoints defined outside of `Orion::` route scope), but I am working on making it possible to generate specs for such endpoints too.

For now, you can just add the necessary specs manually into the generated file - Orion won't remove those upon specs generation.

[2022-10-04 16:47] alexzarbn commented on #34
@PascalHesselink Hi,

This feature has not been implemented yet. Are you using some kind of workaround for that?

[2022-10-06 06:25] GautierDele commented on #127
In my opinion we should add a new params "includesCount", "includesMax", etc and those counts should be directly added to the resources because you might want to count the number of children for each resource. The problem is: what if you want to add params to those avg / count / etc because you might want to filter what you include / etc ? This could be added in the direct close of "withCount" pre

[2022-10-06 17:07] jasper-ter-veen commented on #127
It could be similar to the search endpoint. But maybe called `/aggregates`
[code]

Besides the field, type and alias properties you could add a format, or max_decimals.

Response:
[code]

An alternative is to include this into the search endpoint and respond with an aggregates section next to the data section in the response.

[2022-10-06 17:54] jeroenqui opened #182 "Custom controller function"
I have the following situation: I want to get filtered (open) and grouped (by status) tickets

I have come up with the following solution:

### Added in routes/api.php
`Route::post('tickets/grouped/{groupBy}', 'TicketController@getGrouped');`

### Frontend POST request to tickets/grouped/ticket_status_id with this param
`filters: [{ "field": "closed", "operator": "=", "value": "0" }]`

### TicketC

[2022-10-06 18:32] GautierDele commented on #182
We can't debug you application with just those details. Be aware you are using a deprecated (if not abandonned) way of declaring routes https://laravel.com/docs/9.x/routing#the-default-route-files

[2022-10-06 18:43] jeroenqui commented on #182
@GautierDele thanks for your answer and time reading this.
I'm aware of the deprecated way of declaring routes, but thanks for pointing that out.

Perhaps you could help by globally telling how you would achieve this result (filter and then group) without using hooks (as it would affects all calls to that endpoint)?

[2022-10-06 19:07] GautierDele commented on #182
You can't call the search function because this returns a collection response.

In my opinion the best way to achieve this would be to override the "buildFetchQuery" hook and conditionnally add your groupBy

[code]

[2022-10-06 19:10] jeroenqui commented on #182
@GautierDele Great, thank you! I wouldn't have thought of that approach!

[2022-10-06 19:10] #182 closed

[2022-10-07 13:22] alexzarbn commented on #127
Hi @jasper-ter-veen,

The proposal looks really nice! It definitely covers more advanced use cases, however, similar to the PR #183, there is a problem with such approach when you would need to retrieve aggregates of one particular entity (basically making a request to the `show` endpoint).

I think it might be worth implementing both an advanced and a simple version of this feature. The advanced

[2022-10-07 13:43] GautierDele commented on #127
I think its a good idea, give me some time incrementing the PR to allow both and push the limit of the search endpoint to allow filtering on aggregates

[2022-10-16 10:37] GautierDele opened #185 "Specify pagination size on backend"
Hello there,

I was wondering why the "size" query parameter was so uncontrolled. In my opinion it's quite dangerous to allow front end users to determine their size since they can crash your API.

I would have think of a new controller function like:

[code]

It would be great to be able to provide params such as "< 1000" to just limit the size to a ceil.

What do you think ?

[2022-10-17 08:54] alexzarbn commented on #185
Hi @GautierDele,

Yes, it would make sense to limit the maximum number of entities. Something like this:

[code]

Having strictly defined pagination sizes is too limiting though.

[2022-10-18 13:35] #127 closed

[2022-10-23 10:47] #185 closed

[2022-10-26 09:01] teyeheimans opened #188 "Includes are broken in version 2.17.0"
Since version 2.17.0 our "include" with a relation is broken. In version 2.16.0 this still works.

My test case:
[code]

This used to work, but now it gives an 500 status. It now throws an exception, while this works in the previous version. The exception:

[code]

My Controller looks like this:

[code]

[2022-10-26 10:17] axtg commented on #188
I can confirm seeing the same.
Type of relation in my case is of "BelongsToThrough" of [this package](https://github.com/staudenmeir/belongs-to-through). @teyeheimans Does that hold for you too, or is it a wider relationship problem?

[2022-10-26 14:18] jasper-ter-veen commented on #188
The following code in `src/Drivers/Standard/QueryBuilder`
[code]

can't handle nested relations like `chatMessage.to`

[2022-10-26 15:14] horstoeko commented on #188
I can confirm seeing the same.

[2022-10-26 16:29] alexzarbn commented on #188
Published a fix in v2.17.1. Could you please let me know, if the problem is resolved for all of your apps?

[2022-10-26 16:30] #176 closed

[2022-10-26 17:08] axtg commented on #188
Confirmed working for the 2 request(s) I ran into a 500 before yes.

[2022-10-27 03:13] horstoeko commented on #188
@alexzarbn I can confirm, that the problem is gone for me too.

[2022-10-27 06:07] teyeheimans commented on #188
Wow, that was quick! Indeed, version v2.17.1 solves this issue!

[2022-10-27 07:30] jasper-ter-veen opened #189 "The main filters of the search request are also applied on the includes (v2.17.1)"
In `QueryBuilder::applyIncludesToQuery()`
There is a call to applyFiltersToQuery().
In this method the filters are retrieved with
[code]

So, when the include doesn't have any filters, the main filters are applied.

The following change worked for me:
[code]

[2022-10-27 07:58] jasper-ter-veen opened #190 "Includes for non-existing relations are no longer silently ignored (v2.17.1)"

[2022-10-27 09:51] jasper-ter-veen opened #191 "Batch operations don't work (v2.17.1)"
When performing a batch operation on the second entity, the $entityQuery still contains the where `id =` from the first operation.

This can be fixed by changing lines 151 till 154 in the HandlerStandardBatchOperations to
[code]

This issue also exists for other batch operations

[2022-10-27 13:06] jeroenqui commented on #188
Sorry, for me it's still not working on the 'search' endpoint.

It does work fine on this request (for example): GET 'api/attachments/1?include=chatMessage,chatMessage.to,chatMessage.from'

But it doesn't work like this (for example): POST 'api/attachments/search?include=chatMessage,chatMessage.to,chatMessage.from'

It's not throwing an error, but it doesn't include the relation.

On this docs pag

[2022-10-27 16:12] alexzarbn commented on #188
@jeroenqui No, the intention was to be able to use both query and post params in the `search` endpoint to include relations. The "post" version just allows for filters to be applied on the includes. If the "query" version is not working on the search endpoint, then it is a potential bug.

Could you please check, if the relation is not included, even if the "post" version of includes is used?

[2022-10-27 16:55] alexzarbn commented on #191
Resolved in [v2.17.2](https://github.com/tailflow/laravel-orion/releases/tag/2.17.2)

[2022-10-27 16:55] #191 closed

[2022-10-27 16:55] alexzarbn commented on #190
Resolved in [v2.17.2](https://github.com/tailflow/laravel-orion/releases/tag/2.17.2)

[2022-10-27 16:55] #190 closed

[2022-10-27 16:55] alexzarbn commented on #189
Resolved in [v2.17.2](https://github.com/tailflow/laravel-orion/releases/tag/2.17.2)

[2022-10-27 16:55] #189 closed

[2022-10-27 18:07] jeroenqui commented on #188
@alexzarbn
When I use the "post" version of includes:

Endpoint: /api/tickets/search

``includes: [
    { relation: 'customer' },
    { relation: 'user' }
]``

Error 500
`Call to undefined method App\\Models\\Customer::user()`

Even when I try this in my controller:

``public function alwaysIncludes(): array
    {
        return [
            'customer',
            'user'
        ];
    }``

rela

[2022-10-28 06:56] teyeheimans opened #192 "Batch updates are broken since version 2.17.0"
I have noticed that since version 2.17.0 batch updates are not working like they used to do.

I have a test which creates 2 database records. I then test if updates works with a test like this:

[code]

After that I do some database assertions to check if the correct actions are taken.

In my media controller, I overwrite the fetch query where I only return media which are not validated yet:

[cod

[2022-10-29 18:29] shafiramaki commented on #188
have same issue!

[2022-10-30 12:08] alexzarbn commented on #188
Hi @jeroenqui,

Could you please share the following:

1. The `$model` property value of the affected controller and the contents of that model class
2. The `alwaysIncludes` method contents as it was specified before/during update to v2.17.0
3. The `includes` method contents as it was specified before/during update to v2.17.0

[2022-10-30 12:14] jeroenqui commented on #188
1. protected $model = 'App\Models\Ticket';

2. I just used it for test:
'''
    public function alwaysIncludes(): array
     {
         return [
             'customer',
             'ticketAccessoire',
             'ticketStatus',
             'ticketCategory',
             'ticketPaymentMethod',
             'ticketUpdate',
             'user'
         ];
     }
'''

3.
'''
    public function i

[2022-10-30 13:02] alexzarbn commented on #188
@jeroenqui,

Okay, thanks, could you please also share the contents of the `Ticket` model class?

[2022-10-30 13:15] jeroenqui commented on #188
[code]

[2022-10-31 16:07] alexzarbn commented on #188
@jeroenqui

Please update to the v2.17.3 and see if it fixes the issue.

[2022-10-31 19:10] jeroenqui commented on #188
@alexzarbn v2.17.3 fixes the inclusion of the includes specified on alwaysIncludes, but it still doesn't work with either GET/include or POST/includes (without specifying alwaysIncludes)

[2022-10-31 19:36] alexzarbn commented on #188
@jeroenqui Hmm, that's really strange, includes are working just fine in tests and on my local setup 🤔

Few more questions:
- What Laravel version do you use?
- Do you override any hook/build methods on a controller?
- When making a request, what values do you use (if any) in `Accept` and `Content-Type` headers?

[2022-10-31 20:12] jeroenqui commented on #188
@alexzarbn This last test I tested on a different frontend view.
This view was using the POST version of include (without s) with a string value.
This was working fine pre 2.16, but doesn't work on 2.17.3

So, to summarize:
With 2.17.3 the GET version of include does work fine!
With 2.17.3 the POST version of includes with an array->object value works fine!
With 2.17.3 the POST version of include

[2022-11-01 08:53] shafiramaki opened #193 "includes issue on version 2.17.3"
nested relationship is not working!

laravel error exception
Undefined property: App\\Models\\Payment::$received_by

[2022-11-01 09:37] alexzarbn commented on #193
Hi @shafiramaki,

Please provide the full stack trace as well as the following:

- Contents of the affected controller class
- Contents of the `Payment` model class
- cURL or a complete request information

[2022-11-01 16:58] alexzarbn commented on #188
@jeroenqui Ah, okay, in that case it is indeed an incorrect usage of the feature, not a bug. if you supply `include` parameter in the post body instead of `includes` - it won't work, as it expects either a query parameter `include` (that is a string with a comma separated relations) or a post body parameter `includes` (that is an array of objects).

[2022-11-01 16:58] #188 closed

[2022-11-04 12:15] GautierDele commented on #192
hello @teyeheimans, is this still an issue ?

Thanks,

[2022-11-04 12:31] teyeheimans commented on #192
Hi @GautierDele, yes, this issue still exists.

[2022-11-04 12:36] GautierDele commented on #192
Ok, i'll have a look in the next days :)

[2022-11-04 12:44] teyeheimans commented on #192
Awesome, thanks. I've also taken a look in the code. I see that the model is now refreshed after the update. However, because of the `buildFetchQuery` change, it will not match anymore after the update, and thus it will not find the mode (hence the NotFound exception).

[2022-11-04 13:00] teyeheimans commented on #188
I still have issues regarding this case.

For example, I have this test:
[code]

The response in version 2.16.0. is (filled with faker data):

[code]

In version 2.17.3, the response now is:
[code]

As you can see, the user is missing.

[2022-11-04 13:10] teyeheimans commented on #188
I see that in the file `src/Drivers/Standard/RelationsResolver.php` the `requestedRelations` method does not include the relation if it is posted.

Changing line 44:
[code]

To:
[code]
Seems to resolve this issue.

[2022-11-07 11:08] DavidSprauel opened #195 "Include not working in search endpoints"
Hi, I've been using Orion for my REST API and since a few days I got a weird behavior.

I'm triggering a request from my front end

[code]

   Got this in my controller :

[code]

And this is my relation

[code]

What is weird is that on my local env, it loads the include, but on my test server, the includes are not loaded. What is strange is that when I edit orion RelationResolver, I don't know w

[2022-11-07 11:21] DavidSprauel commented on #188
Could this solution be updated in the package ? I had to change a file of the package myself for it to work :/

[2022-11-07 15:20] alexzarbn commented on #195
Hi @DavidSprauel,

Please refer to the correct syntax for using includes in the body of request: https://tailflow.github.io/laravel-orion-docs/v2.x/guide/search.html#includes

Includes prior to v2.17.0 were intended to be used solely via query parameters - it is incorrect to be using `include` as a post parameter prior v2.17.0 to begin with.

[2022-11-07 15:20] #195 closed

[2022-11-24 20:02] alexzarbn commented on #193
Closing due to inactivity

[2022-11-24 20:02] #193 closed

[2022-11-25 09:57] pakomp opened #197 "whereExists with multiple where statements"
Hi,

As far as I can see, It's currently not possible to use multiple where statements together with where exists.

I want to achieve something similar to the following SQL structure:

`"select * from "{tableName}" where exists (select * from "{tableName2}" where "{tableName}"."id" = "{tableName2}"."{fieldOne}" and "{fieldTwo}" = ? and "value"::text like ?)"`

A nested query will result in two sep

[2022-11-29 11:36] ldiebold opened #198 "including "*" doesn't fail, yet also doesn't include relations"
We're trying to do some quick prototyping and want to whitelist all relationships.

A request for data works with the following, however the relationship is not loaded:
[code]

Request looks like this:
[code]

And if I do the following, everything works as expected (org is loaded in the response):
[code]

Let me know if you need any more information, or a reproduction!

[2022-11-29 16:10] alexzarbn commented on #198
Hi @ldiebold,

Thank you for reporting the issue - I will look into it.

[2022-11-29 16:11] alexzarbn commented on #197
Hi @pakomp,

Could you please share a complete request payload?

[2022-11-30 18:32] alexzarbn commented on #198
Fixed in [v2.17.4](https://github.com/tailflow/laravel-orion/releases/tag/2.17.4)

[2022-11-30 18:32] #198 closed

[2022-11-30 19:11] alexzarbn commented on #192
Hi @teyeheimans,

Should be fixed in [v2.17.5](https://github.com/tailflow/laravel-orion/releases/tag/2.17.5)

[2022-11-30 19:11] #192 closed